Prisma-Pipeline1/PartialArmTemplates/ArmTemplate_10_12_2018_11_42_40.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "Prisma-Pipeline1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Prisma')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Prisma_Campaign_Report_TRP",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 100000,
								"preCopyScript": "Truncate table dbo.DFID043111_DS040801_Prisma_Campaign_Report_TRowePrice_Extracted",
								"sqlWriterStoredProcedureName": "usp_Load_DS040801_Prisma_Campaign_Report_TRowePrice",
								"sqlWriterTableType": "DS040801_Prisma_Campaign_Report_TRowePrice"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "DS040801_Prisma_Campaign_Report_TRowePrice_PrismaCampaignTRP",
								"type": "DatasetReference",
								"parameters": {
									"PrismaAccessToken": "7adb7c89-64a4-46de-a141-5c9843be0fca",
									"CampaignID": "0"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS040801_Prisma_Campaign_Report_TRowePrice_SQLProc",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prisma_Campaign_Report_WMTR",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Prisma_Campaign_Report_TRP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 100000,
								"sqlWriterStoredProcedureName": "usp_Load_DS040801_Prisma_Campaign_Report_TRowePrice",
								"sqlWriterTableType": "DS040801_Prisma_Campaign_Report_TRowePrice"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "DS040801_Prisma_Campaign_Report_TRowePrice_WMTR",
								"type": "DatasetReference",
								"parameters": {
									"PrismaAccessToken": "19424571-bcd1-47e7-be61-5f1d556cfb6c",
									"CampaignID": "0"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS040801_Prisma_Campaign_Report_TRowePrice_SQLProc",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prisma_Placement_Details_PlacementTRP",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 100000,
								"preCopyScript": "truncate table [dbo].[DFID043112_DS040803_Prisma_Placement_Details_Report_TRowePrice_Extracted]",
								"sqlWriterStoredProcedureName": "[concat('[', 'dbo].[usp_Load_DS040803_Prisma_Placement_Details_Report_TRowePrice]')]",
								"sqlWriterTableType": "DS040803_Prisma_Placement_Details_Report_TRowePrice"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"AgencyName": "AgencyName",
									"AgencyAlphaCode": "AgencyAlphaCode",
									"LocationCompanyCode": "LocationCompanyCode",
									"AdvertiserName": "AdvertiserName",
									"AdvertiserCode": "AdvertiserCode",
									"AdvertiserBusinessKey": "AdvertiserBusinessKey",
									"ProductName": "ProductName",
									"ProductCode": "ProductCode",
									"ProductBusinessKey": "ProductBusinessKey",
									"CampaignName": "CampaignName",
									"CampaignPublicId": "CampaignPublicId",
									"CampaignId": "CampaignId",
									"CampaignStartDate": "CampaignStartDate",
									"CampaignEndDate": "CampaignEndDate",
									"CampaignCreationDate": "CampaignCreationDate",
									"CampaignCreationUser": "CampaignCreationUser",
									"CampaignUser": "CampaignUser",
									"SupplierName": "SupplierName",
									"SupplierCode": "SupplierCode",
									"SupplierBusinessKey": "SupplierBusinessKey",
									"SupplierProductName": "SupplierProductName",
									"SupplierAdServerOrderId": "SupplierAdServerOrderId",
									"EstimateName": "EstimateName",
									"EstimateCode": "EstimateCode",
									"EstimateBusinessKey": "EstimateBusinessKey",
									"EstimateStartDate": "EstimateStartDate",
									"EstimateEndDate": "EstimateEndDate",
									"MediaName": "MediaName",
									"MediaCode": "MediaCode",
									"BuyType": "BuyType",
									"BuyCategory": "BuyCategory",
									"PlacementName": "PlacementName",
									"PlacementNumber": "PlacementNumber",
									"PlacementId": "PlacementId",
									"PackageType": "PackageType",
									"PackageId": "PackageId",
									"ParentId": "ParentId",
									"PlacementStartDate": "PlacementStartDate",
									"PlacementEndDate": "PlacementEndDate",
									"PlacementCreationDate": "PlacementCreationDate",
									"PlacementCreationUser": "PlacementCreationUser",
									"PlacementChangeDate": "PlacementChangeDate",
									"PlacementUser": "PlacementUser",
									"PlacementType": "PlacementType",
									"PrimaryPlacement": "PrimaryPlacement",
									"AdserverName": "AdserverName",
									"InstanceName": "InstanceName",
									"AdserverCampaignId": "AdserverCampaignId",
									"AdserverPackageId": "AdserverPackageId",
									"AdserverPlacementId": "AdserverPlacementId",
									"AdserverAdvertiserName": "AdserverAdvertiserName",
									"AdserverAdvertiserCode": "AdserverAdvertiserCode",
									"AdserverClientName": "AdserverClientName",
									"AdserverClientCode": "AdserverClientCode",
									"AdserverSupplierName": "AdserverSupplierName",
									"AdserverSupplierCode": "AdserverSupplierCode",
									"AdserverSiteName": "AdserverSiteName",
									"AdserverSiteCode": "AdserverSiteCode",
									"Site": "Site",
									"Dimension": "Dimension",
									"Positioning": "Positioning",
									"Section": "Section",
									"CostMethod": "CostMethod",
									"OriginalCostMethod": "OriginalCostMethod",
									"UnitType": "UnitType",
									"Market": "Market",
									"MarketRate": "MarketRate",
									"Rate": "Rate",
									"IONumber": "IONumber",
									"ServedBy": "ServedBy",
									"CapCost": "CapCost",
									"TargetInfo": "TargetInfo",
									"Comments": "Comments",
									"FileType": "FileType",
									"MaxFileSize": "MaxFileSize",
									"FlashVersion": "FlashVersion",
									"CreativeDueDate": "CreativeDueDate",
									"MaxLooping": "MaxLooping",
									"MaxAnimationTiming": "MaxAnimationTiming",
									"RichMediaAccepted": "RichMediaAccepted",
									"RichMediaIncCmp": "RichMediaIncCmp",
									"EstimatedUniqueViews": "EstimatedUniqueViews",
									"EstimatedPageViews": "EstimatedPageViews",
									"ShareOfVoice": "ShareOfVoice",
									"ClickThroughUrl": "ClickThroughUrl",
									"CreativeTypeDescription": "CreativeTypeDescription",
									"InventoryType": "InventoryType",
									"OriginalAmount": "OriginalAmount",
									"OriginalCost": "OriginalCost",
									"IsDeleted": "IsDeleted"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS040803_Prisma_Placement_Details_Report_TRowePrice_PlacementTRP",
								"type": "DatasetReference",
								"parameters": {
									"PrismaAccessToken": "7adb7c89-64a4-46de-a141-5c9843be0fca",
									"CampaignID": "0",
									"IncludeDeletions": "False"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS040803_Prisma_Placement_Details_Report_TRowePrice_SQLProc",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prisma_Placement_Monthly_Delivery_TRowePrice_WMTR",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Prisma_PlacementmonthlyTRP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:10:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 100000,
								"sqlWriterStoredProcedureName": "[concat('[', 'dbo].[usp_Load_DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice]')]",
								"sqlWriterTableType": "DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"StartDate": "StartDate",
									"EndDate": "EndDate",
									"AgencyName": "AgencyName",
									"AgencyAlphaCode": "AgencyAlphaCode",
									"LocationCompanyCode": "LocationCompanyCode",
									"AdvertiserName": "AdvertiserName",
									"AdvertiserCode": "AdvertiserCode",
									"AdvertiserBusinessKey": "AdvertiserBusinessKey",
									"ProductName": "ProductName",
									"ProductCode": "ProductCode",
									"ProductBusinessKey": "ProductBusinessKey",
									"CampaignName": "CampaignName",
									"CampaignPublicId": "CampaignPublicId",
									"CampaignId": "CampaignId",
									"CampaignStartDate": "CampaignStartDate",
									"CampaignEndDate": "CampaignEndDate",
									"SupplierName": "SupplierName",
									"SupplierCode": "SupplierCode",
									"SupplierBusinessKey": "SupplierBusinessKey",
									"EstimateName": "EstimateName",
									"EstimateCode": "EstimateCode",
									"EstimateBusinessKey": "EstimateBusinessKey",
									"MediaName": "MediaName",
									"MediaCode": "MediaCode",
									"BuyType": "BuyType",
									"BuyCategory": "BuyCategory",
									"PlacementName": "PlacementName",
									"PlacementNumber": "PlacementNumber",
									"PlacementId": "PlacementId",
									"PackageType": "PackageType",
									"PackageId": "PackageId",
									"ParentId": "ParentId",
									"PlacementStartDate": "PlacementStartDate",
									"PlacementEndDate": "PlacementEndDate",
									"PlacementMonthlyStartDate": "PlacementMonthlyStartDate",
									"PlacementMonthlyEndDate": "PlacementMonthlyEndDate",
									"PlacementMonth": "PlacementMonth",
									"PlacementYear": "PlacementYear",
									"PlacementType": "PlacementType",
									"PrimaryPlacement": "PrimaryPlacement",
									"AdserverName": "AdserverName",
									"InstanceName": "InstanceName",
									"AdserverCampaignId": "AdserverCampaignId",
									"AdserverPackageId": "AdserverPackageId",
									"AdserverPlacementId": "AdserverPlacementId",
									"AdserverAdvertiserName": "AdserverAdvertiserName",
									"AdserverAdvertiserCode": "AdserverAdvertiserCode",
									"AdserverClientName": "AdserverClientName",
									"AdserverClientCode": "AdserverClientCode",
									"AdserverSupplierName": "AdserverSupplierName",
									"AdserverSupplierCode": "AdserverSupplierCode",
									"AdserverSiteName": "AdserverSiteName",
									"AdserverSiteCode": "AdserverSiteCode",
									"DeliveryExists": "DeliveryExists",
									"PlannedAmount": "PlannedAmount",
									"PlannedUnits": "PlannedUnits",
									"PlannedImpressions": "PlannedImpressions",
									"PlannedClicks": "PlannedClicks",
									"PlannedActions": "PlannedActions",
									"IOAmount": "IOAmount",
									"SupplierUnits": "SupplierUnits",
									"SupplierImpressions": "SupplierImpressions",
									"SupplierClicks": "SupplierClicks",
									"SupplierActions": "SupplierActions",
									"SupplierCost": "SupplierCost",
									"AdserverUnits": "AdserverUnits",
									"AdserverImpressions": "AdserverImpressions",
									"AdserverClicks": "AdserverClicks",
									"AdserverActions": "AdserverActions",
									"AdserverCost": "AdserverCost",
									"WeightedPostImpressions": "WeightedPostImpressions",
									"WeightedPostClicks": "WeightedPostClicks",
									"WeightedActions": "WeightedActions",
									"ConversionPostImpressions": "ConversionPostImpressions",
									"ConversionPostClicks": "ConversionPostClicks",
									"ConversionActions": "ConversionActions",
									"IsDeleted": "IsDeleted"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_WMTR",
								"type": "DatasetReference",
								"parameters": {
									"PrismaAccessToken": "19424571-bcd1-47e7-be61-5f1d556cfb6c",
									"CampaignID": "0",
									"StartDate": "1/1/2014",
									"EndDate": "12/31/2020",
									"IncludeDeletions": "False"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_SQLProc",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prisma_PlacementmonthlyTRP",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:10:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 100000,
								"preCopyScript": "truncate table [dbo].[DFID043133_DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_Extracted]\n",
								"sqlWriterStoredProcedureName": "[concat('[', 'dbo].[usp_Load_DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice]')]",
								"sqlWriterTableType": "DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"StartDate": "StartDate",
									"EndDate": "EndDate",
									"AgencyName": "AgencyName",
									"AgencyAlphaCode": "AgencyAlphaCode",
									"LocationCompanyCode": "LocationCompanyCode",
									"AdvertiserName": "AdvertiserName",
									"AdvertiserCode": "AdvertiserCode",
									"AdvertiserBusinessKey": "AdvertiserBusinessKey",
									"ProductName": "ProductName",
									"ProductCode": "ProductCode",
									"ProductBusinessKey": "ProductBusinessKey",
									"CampaignName": "CampaignName",
									"CampaignPublicId": "CampaignPublicId",
									"CampaignId": "CampaignId",
									"CampaignStartDate": "CampaignStartDate",
									"CampaignEndDate": "CampaignEndDate",
									"SupplierName": "SupplierName",
									"SupplierCode": "SupplierCode",
									"SupplierBusinessKey": "SupplierBusinessKey",
									"EstimateName": "EstimateName",
									"EstimateCode": "EstimateCode",
									"EstimateBusinessKey": "EstimateBusinessKey",
									"MediaName": "MediaName",
									"MediaCode": "MediaCode",
									"BuyType": "BuyType",
									"BuyCategory": "BuyCategory",
									"PlacementName": "PlacementName",
									"PlacementNumber": "PlacementNumber",
									"PlacementId": "PlacementId",
									"PackageType": "PackageType",
									"PackageId": "PackageId",
									"ParentId": "ParentId",
									"PlacementStartDate": "PlacementStartDate",
									"PlacementEndDate": "PlacementEndDate",
									"PlacementMonthlyStartDate": "PlacementMonthlyStartDate",
									"PlacementMonthlyEndDate": "PlacementMonthlyEndDate",
									"PlacementMonth": "PlacementMonth",
									"PlacementYear": "PlacementYear",
									"PlacementType": "PlacementType",
									"PrimaryPlacement": "PrimaryPlacement",
									"AdserverName": "AdserverName",
									"InstanceName": "InstanceName",
									"AdserverCampaignId": "AdserverCampaignId",
									"AdserverPackageId": "AdserverPackageId",
									"AdserverPlacementId": "AdserverPlacementId",
									"AdserverAdvertiserName": "AdserverAdvertiserName",
									"AdserverAdvertiserCode": "AdserverAdvertiserCode",
									"AdserverClientName": "AdserverClientName",
									"AdserverClientCode": "AdserverClientCode",
									"AdserverSupplierName": "AdserverSupplierName",
									"AdserverSupplierCode": "AdserverSupplierCode",
									"AdserverSiteName": "AdserverSiteName",
									"AdserverSiteCode": "AdserverSiteCode",
									"DeliveryExists": "DeliveryExists",
									"PlannedAmount": "PlannedAmount",
									"PlannedUnits": "PlannedUnits",
									"PlannedImpressions": "PlannedImpressions",
									"PlannedClicks": "PlannedClicks",
									"PlannedActions": "PlannedActions",
									"IOAmount": "IOAmount",
									"SupplierUnits": "SupplierUnits",
									"SupplierImpressions": "SupplierImpressions",
									"SupplierClicks": "SupplierClicks",
									"SupplierActions": "SupplierActions",
									"SupplierCost": "SupplierCost",
									"AdserverUnits": "AdserverUnits",
									"AdserverImpressions": "AdserverImpressions",
									"AdserverClicks": "AdserverClicks",
									"AdserverActions": "AdserverActions",
									"AdserverCost": "AdserverCost",
									"WeightedPostImpressions": "WeightedPostImpressions",
									"WeightedPostClicks": "WeightedPostClicks",
									"WeightedActions": "WeightedActions",
									"ConversionPostImpressions": "ConversionPostImpressions",
									"ConversionPostClicks": "ConversionPostClicks",
									"ConversionActions": "ConversionActions",
									"IsDeleted": "IsDeleted"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_PlacementmonthlyTRP",
								"type": "DatasetReference",
								"parameters": {
									"PrismaAccessToken": "7adb7c89-64a4-46de-a141-5c9843be0fca",
									"CampaignID": "0",
									"StartDate": "1/1/2014",
									"EndDate": "12/31/2019",
									"IncludeDeletions": "False"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_SQLProc",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prisma_AdvancedPlacement_WMTR",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Prisma_AdvancedPlacementTRP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 100000,
								"preCopyScript": "",
								"sqlWriterStoredProcedureName": "[concat('[', 'dbo].[usp_Load_DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_TRowePrice]')]",
								"sqlWriterTableType": "DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"PlacementName": "PlacementName",
									"PlacementNumber": "PlacementNumber",
									"PlacementId": "PlacementId",
									"PackageType": "PackageType",
									"PackageId": "PackageId",
									"ParentId": "ParentId",
									"PlacementStartDate": "PlacementStartDate",
									"PlacementEndDate": "PlacementEndDate",
									"AdserverCampaignId": "AdserverCampaignId",
									"AdserverPackageId": "AdserverPackageId",
									"AdserverPlacementId": "AdserverPlacementId",
									"CustomColumnName": "CustomColumnName",
									"CustomColumnValue": "CustomColumnValue",
									"IsDeleted": "IsDeleted"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_WMTR",
								"type": "DatasetReference",
								"parameters": {
									"PrismaAccessToken": "19424571-bcd1-47e7-be61-5f1d556cfb6c",
									"CampaignID": "0",
									"IncludeDeletions": "False"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_SQLProc",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prisma_AdvancedPlacementTRP",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:10:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 100000,
								"preCopyScript": "truncate table [dbo].[DFID043134_DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_Extracted]",
								"sqlWriterStoredProcedureName": "[concat('[', 'dbo].[usp_Load_DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_TRowePrice]')]",
								"sqlWriterTableType": "DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"PlacementName": "PlacementName",
									"PlacementNumber": "PlacementNumber",
									"PlacementId": "PlacementId",
									"PackageType": "PackageType",
									"PackageId": "PackageId",
									"ParentId": "ParentId",
									"PlacementStartDate": "PlacementStartDate",
									"PlacementEndDate": "PlacementEndDate",
									"AdserverCampaignId": "AdserverCampaignId",
									"AdserverPackageId": "AdserverPackageId",
									"AdserverPlacementId": "AdserverPlacementId",
									"CustomColumnName": "CustomColumnName",
									"CustomColumnValue": "CustomColumnValue",
									"IsDeleted": "IsDeleted"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_AdvancedPlacementTRP",
								"type": "DatasetReference",
								"parameters": {
									"PrismaAccessToken": "7adb7c89-64a4-46de-a141-5c9843be0fca",
									"CampaignID": "0",
									"IncludeDeletions": "False"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_SQLProc",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prisma_Placement_Details_Placement_WMTR",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Prisma_Placement_Details_PlacementTRP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 100000,
								"preCopyScript": "",
								"sqlWriterStoredProcedureName": "[concat('[', 'dbo].[usp_Load_DS040803_Prisma_Placement_Details_Report_TRowePrice]')]",
								"sqlWriterTableType": "DS040803_Prisma_Placement_Details_Report_TRowePrice"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"AgencyName": "AgencyName",
									"AgencyAlphaCode": "AgencyAlphaCode",
									"LocationCompanyCode": "LocationCompanyCode",
									"AdvertiserName": "AdvertiserName",
									"AdvertiserCode": "AdvertiserCode",
									"AdvertiserBusinessKey": "AdvertiserBusinessKey",
									"ProductName": "ProductName",
									"ProductCode": "ProductCode",
									"ProductBusinessKey": "ProductBusinessKey",
									"CampaignName": "CampaignName",
									"CampaignPublicId": "CampaignPublicId",
									"CampaignId": "CampaignId",
									"CampaignStartDate": "CampaignStartDate",
									"CampaignEndDate": "CampaignEndDate",
									"CampaignCreationDate": "CampaignCreationDate",
									"CampaignCreationUser": "CampaignCreationUser",
									"CampaignUser": "CampaignUser",
									"SupplierName": "SupplierName",
									"SupplierCode": "SupplierCode",
									"SupplierBusinessKey": "SupplierBusinessKey",
									"SupplierProductName": "SupplierProductName",
									"SupplierAdServerOrderId": "SupplierAdServerOrderId",
									"EstimateName": "EstimateName",
									"EstimateCode": "EstimateCode",
									"EstimateBusinessKey": "EstimateBusinessKey",
									"EstimateStartDate": "EstimateStartDate",
									"EstimateEndDate": "EstimateEndDate",
									"MediaName": "MediaName",
									"MediaCode": "MediaCode",
									"BuyType": "BuyType",
									"BuyCategory": "BuyCategory",
									"PlacementName": "PlacementName",
									"PlacementNumber": "PlacementNumber",
									"PlacementId": "PlacementId",
									"PackageType": "PackageType",
									"PackageId": "PackageId",
									"ParentId": "ParentId",
									"PlacementStartDate": "PlacementStartDate",
									"PlacementEndDate": "PlacementEndDate",
									"PlacementCreationDate": "PlacementCreationDate",
									"PlacementCreationUser": "PlacementCreationUser",
									"PlacementChangeDate": "PlacementChangeDate",
									"PlacementUser": "PlacementUser",
									"PlacementType": "PlacementType",
									"PrimaryPlacement": "PrimaryPlacement",
									"AdserverName": "AdserverName",
									"InstanceName": "InstanceName",
									"AdserverCampaignId": "AdserverCampaignId",
									"AdserverPackageId": "AdserverPackageId",
									"AdserverPlacementId": "AdserverPlacementId",
									"AdserverAdvertiserName": "AdserverAdvertiserName",
									"AdserverAdvertiserCode": "AdserverAdvertiserCode",
									"AdserverClientName": "AdserverClientName",
									"AdserverClientCode": "AdserverClientCode",
									"AdserverSupplierName": "AdserverSupplierName",
									"AdserverSupplierCode": "AdserverSupplierCode",
									"AdserverSiteName": "AdserverSiteName",
									"AdserverSiteCode": "AdserverSiteCode",
									"Site": "Site",
									"Dimension": "Dimension",
									"Positioning": "Positioning",
									"Section": "Section",
									"CostMethod": "CostMethod",
									"OriginalCostMethod": "OriginalCostMethod",
									"UnitType": "UnitType",
									"Market": "Market",
									"MarketRate": "MarketRate",
									"Rate": "Rate",
									"IONumber": "IONumber",
									"ServedBy": "ServedBy",
									"CapCost": "CapCost",
									"TargetInfo": "TargetInfo",
									"Comments": "Comments",
									"FileType": "FileType",
									"MaxFileSize": "MaxFileSize",
									"FlashVersion": "FlashVersion",
									"CreativeDueDate": "CreativeDueDate",
									"MaxLooping": "MaxLooping",
									"MaxAnimationTiming": "MaxAnimationTiming",
									"RichMediaAccepted": "RichMediaAccepted",
									"RichMediaIncCmp": "RichMediaIncCmp",
									"EstimatedUniqueViews": "EstimatedUniqueViews",
									"EstimatedPageViews": "EstimatedPageViews",
									"ShareOfVoice": "ShareOfVoice",
									"ClickThroughUrl": "ClickThroughUrl",
									"CreativeTypeDescription": "CreativeTypeDescription",
									"InventoryType": "InventoryType",
									"OriginalAmount": "OriginalAmount",
									"OriginalCost": "OriginalCost",
									"IsDeleted": "IsDeleted"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS040803_Prisma_Placement_Details_Report_TRowePrice_WMTR",
								"type": "DatasetReference",
								"parameters": {
									"PrismaAccessToken": "19424571-bcd1-47e7-be61-5f1d556cfb6c",
									"CampaignID": "0",
									"IncludeDeletions": "FALSE"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS040803_Prisma_Placement_Details_Report_TRowePrice_SQLProc",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prisma_Campaign_Report_TRP_FailureNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Prisma_Campaign_Report_TRP",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-07.eastus.logic.azure.com:443/workflows/202bfb2d6e5d4108bc253bc2091db8f4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B9GfpCVC4ckmQoB44i_i55Pl07v6VY6bXsRgTK43cyw",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"message\":\"Pipeline: @{pipeline().Pipeline} execution failed\"\n,\"receiver\":\"@{pipeline().parameters.receiver}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Prisma_Campaign_Report_WMTR_FailureNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Prisma_Campaign_Report_WMTR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-07.eastus.logic.azure.com:443/workflows/202bfb2d6e5d4108bc253bc2091db8f4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B9GfpCVC4ckmQoB44i_i55Pl07v6VY6bXsRgTK43cyw",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"message": "Pipeline: @{pipeline().Pipeline} execution failed",
								"receiver": "@{pipeline().parameters.receiver}"
							}
						}
					},
					{
						"name": "PP_Details_PlacementTRP_FailureNotification",
						"description": "Activity Name: Prisma_Placement_Details_PlacementTRP_FailureNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Prisma_Placement_Details_PlacementTRP",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-07.eastus.logic.azure.com:443/workflows/202bfb2d6e5d4108bc253bc2091db8f4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B9GfpCVC4ckmQoB44i_i55Pl07v6VY6bXsRgTK43cyw",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"message\":\"Pipeline: @{pipeline().Pipeline} execution failed\"\n,\"receiver\":\"@{pipeline().parameters.receiver}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "PPD_Placement_WMTR_FailureNotification",
						"description": "Activity Name: Prisma_Placement_Details_Placement_WMTR_EmailNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Prisma_Placement_Details_Placement_WMTR",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-07.eastus.logic.azure.com:443/workflows/202bfb2d6e5d4108bc253bc2091db8f4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B9GfpCVC4ckmQoB44i_i55Pl07v6VY6bXsRgTK43cyw",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"message\":\"Pipeline: @{pipeline().Pipeline} execution failed\"\n,\"receiver\":\"@{pipeline().parameters.receiver}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Prisma_PlacementmonthlyTRP_FailureNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Prisma_PlacementmonthlyTRP",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-07.eastus.logic.azure.com:443/workflows/202bfb2d6e5d4108bc253bc2091db8f4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B9GfpCVC4ckmQoB44i_i55Pl07v6VY6bXsRgTK43cyw",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"message\":\"Pipeline: @{pipeline().Pipeline} execution failed\"\n,\"receiver\":\"@{pipeline().parameters.receiver}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "PP_Monthly_Delivery_TRowePrice_WMTR_FailureNotification",
						"description": "Activity Name: Prisma_Placement_Monthly_Delivery_TRowePrice_WMTR_EmailNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Prisma_Placement_Monthly_Delivery_TRowePrice_WMTR",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-07.eastus.logic.azure.com:443/workflows/202bfb2d6e5d4108bc253bc2091db8f4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B9GfpCVC4ckmQoB44i_i55Pl07v6VY6bXsRgTK43cyw",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"message\":\"Pipeline: @{pipeline().Pipeline} execution failed\"\n,\"receiver\":\"@{pipeline().parameters.receiver}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Prisma_AdvancedPlacementTRP_FailureNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Prisma_AdvancedPlacementTRP",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-07.eastus.logic.azure.com:443/workflows/202bfb2d6e5d4108bc253bc2091db8f4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B9GfpCVC4ckmQoB44i_i55Pl07v6VY6bXsRgTK43cyw",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"message\":\"Pipeline: @{pipeline().Pipeline} execution failed\"\n,\"receiver\":\"@{pipeline().parameters.receiver}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Prisma_AdvancedPlacement_WMTR_FailureNotification",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Prisma_AdvancedPlacement_WMTR",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-07.eastus.logic.azure.com:443/workflows/202bfb2d6e5d4108bc253bc2091db8f4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=B9GfpCVC4ckmQoB44i_i55Pl07v6VY6bXsRgTK43cyw",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"message\":\"Pipeline: @{pipeline().Pipeline} execution failed\"\n,\"receiver\":\"@{pipeline().parameters.receiver}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"receiver": {
						"type": "String",
						"defaultValue": "omprakashk@cybage.com;sarangp@cybage.com"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS040801_Prisma_Campaign_Report_TRowePrice_PrismaCampaignTRP')]",
				"[concat(variables('factoryId'), '/datasets/DS040801_Prisma_Campaign_Report_TRowePrice_SQLProc')]",
				"[concat(variables('factoryId'), '/datasets/DS040801_Prisma_Campaign_Report_TRowePrice_WMTR')]",
				"[concat(variables('factoryId'), '/datasets/DS040803_Prisma_Placement_Details_Report_TRowePrice_PlacementTRP')]",
				"[concat(variables('factoryId'), '/datasets/DS040803_Prisma_Placement_Details_Report_TRowePrice_SQLProc')]",
				"[concat(variables('factoryId'), '/datasets/DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_WMTR')]",
				"[concat(variables('factoryId'), '/datasets/DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_SQLProc')]",
				"[concat(variables('factoryId'), '/datasets/DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_PlacementmonthlyTRP')]",
				"[concat(variables('factoryId'), '/datasets/DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_WMTR')]",
				"[concat(variables('factoryId'), '/datasets/DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_SQLProc')]",
				"[concat(variables('factoryId'), '/datasets/DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_AdvancedPlacementTRP')]",
				"[concat(variables('factoryId'), '/datasets/DS040803_Prisma_Placement_Details_Report_TRowePrice_WMTR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040801_Prisma_Campaign_Report_TRowePrice_PrismaCampaignTRP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PrismaAccessToken": {
						"type": "String"
					},
					"CampaignID": {
						"type": "String"
					}
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "AgencyAlphaCode",
						"type": "String"
					},
					{
						"name": "LocationCompanyCode",
						"type": "String"
					},
					{
						"name": "AdvertiserName",
						"type": "String"
					},
					{
						"name": "AdvertiserCode",
						"type": "String"
					},
					{
						"name": "CampaignName",
						"type": "String"
					},
					{
						"name": "CampaignPublicId",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "CampaignStartDate",
						"type": "String"
					},
					{
						"name": "CampaignEndDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationUser",
						"type": "String"
					},
					{
						"name": "CampaignUser",
						"type": "String"
					},
					{
						"name": "CampaignStatus",
						"type": "String"
					},
					{
						"name": "Strategy",
						"type": "String"
					},
					{
						"name": "RateType",
						"type": "String"
					},
					{
						"name": "Budget",
						"type": "String"
					},
					{
						"name": "BudgetApproved",
						"type": "String"
					},
					{
						"name": "ReferenceId",
						"type": "String"
					},
					{
						"name": "IncludePostImpressions",
						"type": "String"
					},
					{
						"name": "PrimaryGoal",
						"type": "String"
					},
					{
						"name": "ECPM",
						"type": "String"
					},
					{
						"name": "ECPA",
						"type": "String"
					},
					{
						"name": "ECPC",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['Data']",
						"jsonPathDefinition": {
							"Data": "$.['Data']",
							"Status.Success": "$.['Status']['Success']",
							"Status.ErrorDescription": "$.['Status']['ErrorDescription']",
							"Status.Result": "$.['Status']['Result']",
							"Status.LastExecutionMark": "$.['Status']['LastExecutionMark']",
							"AgencyName": "[concat('[', '''AgencyName'']')]",
							"AgencyAlphaCode": "[concat('[', '''AgencyAlphaCode'']')]",
							"LocationCompanyCode": "[concat('[', '''LocationCompanyCode'']')]",
							"AdvertiserName": "[concat('[', '''AdvertiserName'']')]",
							"AdvertiserCode": "[concat('[', '''AdvertiserCode'']')]",
							"CampaignName": "[concat('[', '''CampaignName'']')]",
							"CampaignPublicId": "[concat('[', '''CampaignPublicId'']')]",
							"CampaignId": "[concat('[', '''CampaignId'']')]",
							"CampaignStartDate": "[concat('[', '''CampaignStartDate'']')]",
							"CampaignEndDate": "[concat('[', '''CampaignEndDate'']')]",
							"CampaignCreationDate": "[concat('[', '''CampaignCreationDate'']')]",
							"CampaignCreationUser": "[concat('[', '''CampaignCreationUser'']')]",
							"CampaignUser": "[concat('[', '''CampaignUser'']')]",
							"CampaignStatus": "[concat('[', '''CampaignStatus'']')]",
							"Strategy": "[concat('[', '''Strategy'']')]",
							"RateType": "[concat('[', '''RateType'']')]",
							"Budget": "[concat('[', '''Budget'']')]",
							"BudgetApproved": "[concat('[', '''BudgetApproved'']')]",
							"ReferenceId": "[concat('[', '''ReferenceId'']')]",
							"IncludePostImpressions": "[concat('[', '''IncludePostImpressions'']')]",
							"PrimaryGoal": "[concat('[', '''PrimaryGoal'']')]",
							"ECPM": "[concat('[', '''ECPM'']')]",
							"ECPA": "[concat('[', '''ECPA'']')]",
							"ECPC": "[concat('[', '''ECPC'']')]"
						}
					},
					"relativeUrl": {
						"value": "/api/DataFeed/463?Prisma Access Token=@{dataset().PrismaAccessToken}&CampaignID=@{dataset().CampaignID}&Applicationtype=Azure_WM-US-TRP&Applicationtoken=830FF98D-AE5D-47F4-AA41-133FB86411F6&Useremail=wm-us-trp@groupm.com",
						"type": "Expression"
					},
					"requestMethod": "Get"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040801_Prisma_Campaign_Report_TRowePrice_SQLProc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLConnection",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "Prisma"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040801_Prisma_Campaign_Report_TRowePrice_WMTR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PrismaAccessToken": {
						"type": "String"
					},
					"CampaignID": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "AgencyAlphaCode",
						"type": "String"
					},
					{
						"name": "LocationCompanyCode",
						"type": "String"
					},
					{
						"name": "AdvertiserName",
						"type": "String"
					},
					{
						"name": "AdvertiserCode",
						"type": "String"
					},
					{
						"name": "CampaignName",
						"type": "String"
					},
					{
						"name": "CampaignPublicId",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "CampaignStartDate",
						"type": "String"
					},
					{
						"name": "CampaignEndDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationUser",
						"type": "String"
					},
					{
						"name": "CampaignUser",
						"type": "String"
					},
					{
						"name": "CampaignStatus",
						"type": "String"
					},
					{
						"name": "Strategy",
						"type": "String"
					},
					{
						"name": "RateType",
						"type": "String"
					},
					{
						"name": "Budget",
						"type": "String"
					},
					{
						"name": "BudgetApproved",
						"type": "String"
					},
					{
						"name": "ReferenceId",
						"type": "String"
					},
					{
						"name": "IncludePostImpressions",
						"type": "String"
					},
					{
						"name": "PrimaryGoal",
						"type": "String"
					},
					{
						"name": "ECPM",
						"type": "String"
					},
					{
						"name": "ECPA",
						"type": "String"
					},
					{
						"name": "ECPC",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['Data']",
						"jsonPathDefinition": {
							"Data": "$.['Data']",
							"Status.Success": "$.['Status']['Success']",
							"Status.ErrorDescription": "$.['Status']['ErrorDescription']",
							"Status.Result": "$.['Status']['Result']",
							"Status.LastExecutionMark": "$.['Status']['LastExecutionMark']",
							"AgencyName": "[concat('[', '''AgencyName'']')]",
							"AgencyAlphaCode": "[concat('[', '''AgencyAlphaCode'']')]",
							"LocationCompanyCode": "[concat('[', '''LocationCompanyCode'']')]",
							"AdvertiserName": "[concat('[', '''AdvertiserName'']')]",
							"AdvertiserCode": "[concat('[', '''AdvertiserCode'']')]",
							"CampaignName": "[concat('[', '''CampaignName'']')]",
							"CampaignPublicId": "[concat('[', '''CampaignPublicId'']')]",
							"CampaignId": "[concat('[', '''CampaignId'']')]",
							"CampaignStartDate": "[concat('[', '''CampaignStartDate'']')]",
							"CampaignEndDate": "[concat('[', '''CampaignEndDate'']')]",
							"CampaignCreationDate": "[concat('[', '''CampaignCreationDate'']')]",
							"CampaignCreationUser": "[concat('[', '''CampaignCreationUser'']')]",
							"CampaignUser": "[concat('[', '''CampaignUser'']')]",
							"CampaignStatus": "[concat('[', '''CampaignStatus'']')]",
							"Strategy": "[concat('[', '''Strategy'']')]",
							"RateType": "[concat('[', '''RateType'']')]",
							"Budget": "[concat('[', '''Budget'']')]",
							"BudgetApproved": "[concat('[', '''BudgetApproved'']')]",
							"ReferenceId": "[concat('[', '''ReferenceId'']')]",
							"IncludePostImpressions": "[concat('[', '''IncludePostImpressions'']')]",
							"PrimaryGoal": "[concat('[', '''PrimaryGoal'']')]",
							"ECPM": "[concat('[', '''ECPM'']')]",
							"ECPA": "[concat('[', '''ECPA'']')]",
							"ECPC": "[concat('[', '''ECPC'']')]"
						}
					},
					"relativeUrl": {
						"value": "/api/DataFeed/463?Prisma Access Token=@{dataset().PrismaAccessToken}&CampaignID=@{dataset().CampaignID}&Applicationtype=Azure_WM-US-TRP&Applicationtoken=830FF98D-AE5D-47F4-AA41-133FB86411F6&Useremail=wm-us-trp@groupm.com",
						"type": "Expression"
					},
					"requestMethod": "Get"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040803_Prisma_Placement_Details_Report_TRowePrice_PlacementTRP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PrismaAccessToken": {
						"type": "String"
					},
					"CampaignID": {
						"type": "String"
					},
					"IncludeDeletions": {
						"type": "String"
					}
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "AgencyAlphaCode",
						"type": "String"
					},
					{
						"name": "LocationCompanyCode",
						"type": "String"
					},
					{
						"name": "AdvertiserName",
						"type": "String"
					},
					{
						"name": "AdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdvertiserBusinessKey",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "ProductCode",
						"type": "String"
					},
					{
						"name": "ProductBusinessKey",
						"type": "String"
					},
					{
						"name": "CampaignName",
						"type": "String"
					},
					{
						"name": "CampaignPublicId",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "CampaignStartDate",
						"type": "String"
					},
					{
						"name": "CampaignEndDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationUser",
						"type": "String"
					},
					{
						"name": "CampaignUser",
						"type": "String"
					},
					{
						"name": "SupplierName",
						"type": "String"
					},
					{
						"name": "SupplierCode",
						"type": "String"
					},
					{
						"name": "SupplierBusinessKey",
						"type": "String"
					},
					{
						"name": "SupplierProductName",
						"type": "String"
					},
					{
						"name": "SupplierAdServerOrderId",
						"type": "String"
					},
					{
						"name": "EstimateName",
						"type": "String"
					},
					{
						"name": "EstimateCode",
						"type": "String"
					},
					{
						"name": "EstimateBusinessKey",
						"type": "String"
					},
					{
						"name": "EstimateStartDate",
						"type": "String"
					},
					{
						"name": "EstimateEndDate",
						"type": "String"
					},
					{
						"name": "MediaName",
						"type": "String"
					},
					{
						"name": "MediaCode",
						"type": "String"
					},
					{
						"name": "BuyType",
						"type": "String"
					},
					{
						"name": "BuyCategory",
						"type": "String"
					},
					{
						"name": "PlacementName",
						"type": "String"
					},
					{
						"name": "PlacementNumber",
						"type": "String"
					},
					{
						"name": "PlacementId",
						"type": "String"
					},
					{
						"name": "PackageType",
						"type": "String"
					},
					{
						"name": "PackageId",
						"type": "String"
					},
					{
						"name": "ParentId",
						"type": "String"
					},
					{
						"name": "PlacementStartDate",
						"type": "String"
					},
					{
						"name": "PlacementEndDate",
						"type": "String"
					},
					{
						"name": "PlacementCreationDate",
						"type": "String"
					},
					{
						"name": "PlacementCreationUser",
						"type": "String"
					},
					{
						"name": "PlacementChangeDate",
						"type": "String"
					},
					{
						"name": "PlacementUser",
						"type": "String"
					},
					{
						"name": "PlacementType",
						"type": "String"
					},
					{
						"name": "PrimaryPlacement",
						"type": "String"
					},
					{
						"name": "AdserverName",
						"type": "String"
					},
					{
						"name": "InstanceName",
						"type": "String"
					},
					{
						"name": "AdserverCampaignId",
						"type": "String"
					},
					{
						"name": "AdserverPackageId",
						"type": "String"
					},
					{
						"name": "AdserverPlacementId",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserName",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdserverClientName",
						"type": "String"
					},
					{
						"name": "AdserverClientCode",
						"type": "String"
					},
					{
						"name": "AdserverSupplierName",
						"type": "String"
					},
					{
						"name": "AdserverSupplierCode",
						"type": "String"
					},
					{
						"name": "AdserverSiteName",
						"type": "String"
					},
					{
						"name": "AdserverSiteCode",
						"type": "String"
					},
					{
						"name": "Site",
						"type": "String"
					},
					{
						"name": "Dimension",
						"type": "String"
					},
					{
						"name": "Positioning",
						"type": "String"
					},
					{
						"name": "Section",
						"type": "String"
					},
					{
						"name": "CostMethod",
						"type": "String"
					},
					{
						"name": "OriginalCostMethod",
						"type": "String"
					},
					{
						"name": "UnitType",
						"type": "String"
					},
					{
						"name": "Market",
						"type": "String"
					},
					{
						"name": "MarketRate",
						"type": "String"
					},
					{
						"name": "Rate",
						"type": "String"
					},
					{
						"name": "IONumber",
						"type": "String"
					},
					{
						"name": "ServedBy",
						"type": "String"
					},
					{
						"name": "CapCost",
						"type": "String"
					},
					{
						"name": "TargetInfo",
						"type": "String"
					},
					{
						"name": "Comments",
						"type": "String"
					},
					{
						"name": "FileType",
						"type": "String"
					},
					{
						"name": "MaxFileSize",
						"type": "String"
					},
					{
						"name": "FlashVersion",
						"type": "String"
					},
					{
						"name": "CreativeDueDate",
						"type": "String"
					},
					{
						"name": "MaxLooping",
						"type": "String"
					},
					{
						"name": "MaxAnimationTiming",
						"type": "String"
					},
					{
						"name": "RichMediaAccepted",
						"type": "String"
					},
					{
						"name": "RichMediaIncCmp",
						"type": "String"
					},
					{
						"name": "EstimatedUniqueViews",
						"type": "String"
					},
					{
						"name": "EstimatedPageViews",
						"type": "String"
					},
					{
						"name": "ShareOfVoice",
						"type": "String"
					},
					{
						"name": "ClickThroughUrl",
						"type": "String"
					},
					{
						"name": "CreativeTypeDescription",
						"type": "String"
					},
					{
						"name": "InventoryType",
						"type": "String"
					},
					{
						"name": "OriginalAmount",
						"type": "String"
					},
					{
						"name": "OriginalCost",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['Data']",
						"jsonPathDefinition": {
							"Data": "$.['Data']",
							"Status.Success": "$.['Status']['Success']",
							"Status.ErrorDescription": "$.['Status']['ErrorDescription']",
							"Status.Result": "$.['Status']['Result']",
							"Status.LastExecutionMark": "$.['Status']['LastExecutionMark']",
							"AgencyName": "[concat('[', '''AgencyName'']')]",
							"AgencyAlphaCode": "[concat('[', '''AgencyAlphaCode'']')]",
							"LocationCompanyCode": "[concat('[', '''LocationCompanyCode'']')]",
							"AdvertiserName": "[concat('[', '''AdvertiserName'']')]",
							"AdvertiserCode": "[concat('[', '''AdvertiserCode'']')]",
							"AdvertiserBusinessKey": "[concat('[', '''AdvertiserBusinessKey'']')]",
							"ProductName": "[concat('[', '''ProductName'']')]",
							"ProductCode": "[concat('[', '''ProductCode'']')]",
							"ProductBusinessKey": "[concat('[', '''ProductBusinessKey'']')]",
							"CampaignName": "[concat('[', '''CampaignName'']')]",
							"CampaignPublicId": "[concat('[', '''CampaignPublicId'']')]",
							"CampaignId": "[concat('[', '''CampaignId'']')]",
							"CampaignStartDate": "[concat('[', '''CampaignStartDate'']')]",
							"CampaignEndDate": "[concat('[', '''CampaignEndDate'']')]",
							"CampaignCreationDate": "[concat('[', '''CampaignCreationDate'']')]",
							"CampaignCreationUser": "[concat('[', '''CampaignCreationUser'']')]",
							"CampaignUser": "[concat('[', '''CampaignUser'']')]",
							"SupplierName": "[concat('[', '''SupplierName'']')]",
							"SupplierCode": "[concat('[', '''SupplierCode'']')]",
							"SupplierBusinessKey": "[concat('[', '''SupplierBusinessKey'']')]",
							"SupplierProductName": "[concat('[', '''SupplierProductName'']')]",
							"SupplierAdServerOrderId": "[concat('[', '''SupplierAdServerOrderId'']')]",
							"EstimateName": "[concat('[', '''EstimateName'']')]",
							"EstimateCode": "[concat('[', '''EstimateCode'']')]",
							"EstimateBusinessKey": "[concat('[', '''EstimateBusinessKey'']')]",
							"EstimateStartDate": "[concat('[', '''EstimateStartDate'']')]",
							"EstimateEndDate": "[concat('[', '''EstimateEndDate'']')]",
							"MediaName": "[concat('[', '''MediaName'']')]",
							"MediaCode": "[concat('[', '''MediaCode'']')]",
							"BuyType": "[concat('[', '''BuyType'']')]",
							"BuyCategory": "[concat('[', '''BuyCategory'']')]",
							"PlacementName": "[concat('[', '''PlacementName'']')]",
							"PlacementNumber": "[concat('[', '''PlacementNumber'']')]",
							"PlacementId": "[concat('[', '''PlacementId'']')]",
							"PackageType": "[concat('[', '''PackageType'']')]",
							"PackageId": "[concat('[', '''PackageId'']')]",
							"ParentId": "[concat('[', '''ParentId'']')]",
							"PlacementStartDate": "[concat('[', '''PlacementStartDate'']')]",
							"PlacementEndDate": "[concat('[', '''PlacementEndDate'']')]",
							"PlacementCreationDate": "[concat('[', '''PlacementCreationDate'']')]",
							"PlacementCreationUser": "[concat('[', '''PlacementCreationUser'']')]",
							"PlacementChangeDate": "[concat('[', '''PlacementChangeDate'']')]",
							"PlacementUser": "[concat('[', '''PlacementUser'']')]",
							"PlacementType": "[concat('[', '''PlacementType'']')]",
							"PrimaryPlacement": "[concat('[', '''PrimaryPlacement'']')]",
							"AdserverName": "[concat('[', '''AdserverName'']')]",
							"InstanceName": "[concat('[', '''InstanceName'']')]",
							"AdserverCampaignId": "[concat('[', '''AdserverCampaignId'']')]",
							"AdserverPackageId": "[concat('[', '''AdserverPackageId'']')]",
							"AdserverPlacementId": "[concat('[', '''AdserverPlacementId'']')]",
							"AdserverAdvertiserName": "[concat('[', '''AdserverAdvertiserName'']')]",
							"AdserverAdvertiserCode": "[concat('[', '''AdserverAdvertiserCode'']')]",
							"AdserverClientName": "[concat('[', '''AdserverClientName'']')]",
							"AdserverClientCode": "[concat('[', '''AdserverClientCode'']')]",
							"AdserverSupplierName": "[concat('[', '''AdserverSupplierName'']')]",
							"AdserverSupplierCode": "[concat('[', '''AdserverSupplierCode'']')]",
							"AdserverSiteName": "[concat('[', '''AdserverSiteName'']')]",
							"AdserverSiteCode": "[concat('[', '''AdserverSiteCode'']')]",
							"Site": "[concat('[', '''Site'']')]",
							"Dimension": "[concat('[', '''Dimension'']')]",
							"Positioning": "[concat('[', '''Positioning'']')]",
							"Section": "[concat('[', '''Section'']')]",
							"CostMethod": "[concat('[', '''CostMethod'']')]",
							"OriginalCostMethod": "[concat('[', '''OriginalCostMethod'']')]",
							"UnitType": "[concat('[', '''UnitType'']')]",
							"Market": "[concat('[', '''Market'']')]",
							"MarketRate": "[concat('[', '''MarketRate'']')]",
							"Rate": "[concat('[', '''Rate'']')]",
							"IONumber": "[concat('[', '''IONumber'']')]",
							"ServedBy": "[concat('[', '''ServedBy'']')]",
							"CapCost": "[concat('[', '''CapCost'']')]",
							"TargetInfo": "[concat('[', '''TargetInfo'']')]",
							"Comments": "[concat('[', '''Comments'']')]",
							"FileType": "[concat('[', '''FileType'']')]",
							"MaxFileSize": "[concat('[', '''MaxFileSize'']')]",
							"FlashVersion": "[concat('[', '''FlashVersion'']')]",
							"CreativeDueDate": "[concat('[', '''CreativeDueDate'']')]",
							"MaxLooping": "[concat('[', '''MaxLooping'']')]",
							"MaxAnimationTiming": "[concat('[', '''MaxAnimationTiming'']')]",
							"RichMediaAccepted": "[concat('[', '''RichMediaAccepted'']')]",
							"RichMediaIncCmp": "[concat('[', '''RichMediaIncCmp'']')]",
							"EstimatedUniqueViews": "[concat('[', '''EstimatedUniqueViews'']')]",
							"EstimatedPageViews": "[concat('[', '''EstimatedPageViews'']')]",
							"ShareOfVoice": "[concat('[', '''ShareOfVoice'']')]",
							"ClickThroughUrl": "[concat('[', '''ClickThroughUrl'']')]",
							"CreativeTypeDescription": "[concat('[', '''CreativeTypeDescription'']')]",
							"InventoryType": "[concat('[', '''InventoryType'']')]",
							"OriginalAmount": "[concat('[', '''OriginalAmount'']')]",
							"OriginalCost": "[concat('[', '''OriginalCost'']')]",
							"IsDeleted": "[concat('[', '''IsDeleted'']')]"
						}
					},
					"relativeUrl": {
						"value": "api/DataFeed/465?prisma%20access%20token=@{dataset().PrismaAccessToken}&campaignid=@{dataset().CampaignID}&includedeletions=@{dataset().IncludeDeletions}&applicationtype=Azure_WM-US-TRP&useremail=wm-us-trp@groupm.com&applicationtoken=830FF98D-AE5D-47F4-AA41-133FB86411F6",
						"type": "Expression"
					},
					"requestMethod": "Get"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040803_Prisma_Placement_Details_Report_TRowePrice_SQLProc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLConnection",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "AgencyAlphaCode",
						"type": "String"
					},
					{
						"name": "LocationCompanyCode",
						"type": "String"
					},
					{
						"name": "AdvertiserName",
						"type": "String"
					},
					{
						"name": "AdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdvertiserBusinessKey",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "ProductCode",
						"type": "String"
					},
					{
						"name": "ProductBusinessKey",
						"type": "String"
					},
					{
						"name": "CampaignName",
						"type": "String"
					},
					{
						"name": "CampaignPublicId",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "CampaignStartDate",
						"type": "String"
					},
					{
						"name": "CampaignEndDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationUser",
						"type": "String"
					},
					{
						"name": "CampaignUser",
						"type": "String"
					},
					{
						"name": "SupplierName",
						"type": "String"
					},
					{
						"name": "SupplierCode",
						"type": "String"
					},
					{
						"name": "SupplierBusinessKey",
						"type": "String"
					},
					{
						"name": "SupplierProductName",
						"type": "String"
					},
					{
						"name": "SupplierAdServerOrderId",
						"type": "String"
					},
					{
						"name": "EstimateName",
						"type": "String"
					},
					{
						"name": "EstimateCode",
						"type": "String"
					},
					{
						"name": "EstimateBusinessKey",
						"type": "String"
					},
					{
						"name": "EstimateStartDate",
						"type": "String"
					},
					{
						"name": "EstimateEndDate",
						"type": "String"
					},
					{
						"name": "MediaName",
						"type": "String"
					},
					{
						"name": "MediaCode",
						"type": "String"
					},
					{
						"name": "BuyType",
						"type": "String"
					},
					{
						"name": "BuyCategory",
						"type": "String"
					},
					{
						"name": "PlacementName",
						"type": "String"
					},
					{
						"name": "PlacementNumber",
						"type": "String"
					},
					{
						"name": "PlacementId",
						"type": "String"
					},
					{
						"name": "PackageType",
						"type": "String"
					},
					{
						"name": "PackageId",
						"type": "String"
					},
					{
						"name": "ParentId",
						"type": "String"
					},
					{
						"name": "PlacementStartDate",
						"type": "String"
					},
					{
						"name": "PlacementEndDate",
						"type": "String"
					},
					{
						"name": "PlacementCreationDate",
						"type": "String"
					},
					{
						"name": "PlacementCreationUser",
						"type": "String"
					},
					{
						"name": "PlacementChangeDate",
						"type": "String"
					},
					{
						"name": "PlacementUser",
						"type": "String"
					},
					{
						"name": "PlacementType",
						"type": "String"
					},
					{
						"name": "PrimaryPlacement",
						"type": "String"
					},
					{
						"name": "AdserverName",
						"type": "String"
					},
					{
						"name": "InstanceName",
						"type": "String"
					},
					{
						"name": "AdserverCampaignId",
						"type": "String"
					},
					{
						"name": "AdserverPackageId",
						"type": "String"
					},
					{
						"name": "AdserverPlacementId",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserName",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdserverClientName",
						"type": "String"
					},
					{
						"name": "AdserverClientCode",
						"type": "String"
					},
					{
						"name": "AdserverSupplierName",
						"type": "String"
					},
					{
						"name": "AdserverSupplierCode",
						"type": "String"
					},
					{
						"name": "AdserverSiteName",
						"type": "String"
					},
					{
						"name": "AdserverSiteCode",
						"type": "String"
					},
					{
						"name": "Site",
						"type": "String"
					},
					{
						"name": "Dimension",
						"type": "String"
					},
					{
						"name": "Positioning",
						"type": "String"
					},
					{
						"name": "Section",
						"type": "String"
					},
					{
						"name": "CostMethod",
						"type": "String"
					},
					{
						"name": "OriginalCostMethod",
						"type": "String"
					},
					{
						"name": "UnitType",
						"type": "String"
					},
					{
						"name": "Market",
						"type": "String"
					},
					{
						"name": "MarketRate",
						"type": "String"
					},
					{
						"name": "Rate",
						"type": "String"
					},
					{
						"name": "IONumber",
						"type": "String"
					},
					{
						"name": "ServedBy",
						"type": "String"
					},
					{
						"name": "CapCost",
						"type": "String"
					},
					{
						"name": "TargetInfo",
						"type": "String"
					},
					{
						"name": "Comments",
						"type": "String"
					},
					{
						"name": "FileType",
						"type": "String"
					},
					{
						"name": "MaxFileSize",
						"type": "String"
					},
					{
						"name": "FlashVersion",
						"type": "String"
					},
					{
						"name": "CreativeDueDate",
						"type": "String"
					},
					{
						"name": "MaxLooping",
						"type": "String"
					},
					{
						"name": "MaxAnimationTiming",
						"type": "String"
					},
					{
						"name": "RichMediaAccepted",
						"type": "String"
					},
					{
						"name": "RichMediaIncCmp",
						"type": "String"
					},
					{
						"name": "EstimatedUniqueViews",
						"type": "String"
					},
					{
						"name": "EstimatedPageViews",
						"type": "String"
					},
					{
						"name": "ShareOfVoice",
						"type": "String"
					},
					{
						"name": "ClickThroughUrl",
						"type": "String"
					},
					{
						"name": "CreativeTypeDescription",
						"type": "String"
					},
					{
						"name": "InventoryType",
						"type": "String"
					},
					{
						"name": "OriginalAmount",
						"type": "String"
					},
					{
						"name": "OriginalCost",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "Prisma"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040803_Prisma_Placement_Details_Report_TRowePrice_WMTR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PrismaAccessToken": {
						"type": "String"
					},
					"CampaignID": {
						"type": "String"
					},
					"IncludeDeletions": {
						"type": "String"
					}
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "AgencyAlphaCode",
						"type": "String"
					},
					{
						"name": "LocationCompanyCode",
						"type": "String"
					},
					{
						"name": "AdvertiserName",
						"type": "String"
					},
					{
						"name": "AdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdvertiserBusinessKey",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "ProductCode",
						"type": "String"
					},
					{
						"name": "ProductBusinessKey",
						"type": "String"
					},
					{
						"name": "CampaignName",
						"type": "String"
					},
					{
						"name": "CampaignPublicId",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "CampaignStartDate",
						"type": "String"
					},
					{
						"name": "CampaignEndDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationDate",
						"type": "String"
					},
					{
						"name": "CampaignCreationUser",
						"type": "String"
					},
					{
						"name": "CampaignUser",
						"type": "String"
					},
					{
						"name": "SupplierName",
						"type": "String"
					},
					{
						"name": "SupplierCode",
						"type": "String"
					},
					{
						"name": "SupplierBusinessKey",
						"type": "String"
					},
					{
						"name": "SupplierProductName",
						"type": "String"
					},
					{
						"name": "SupplierAdServerOrderId",
						"type": "String"
					},
					{
						"name": "EstimateName",
						"type": "String"
					},
					{
						"name": "EstimateCode",
						"type": "String"
					},
					{
						"name": "EstimateBusinessKey",
						"type": "String"
					},
					{
						"name": "EstimateStartDate",
						"type": "String"
					},
					{
						"name": "EstimateEndDate",
						"type": "String"
					},
					{
						"name": "MediaName",
						"type": "String"
					},
					{
						"name": "MediaCode",
						"type": "String"
					},
					{
						"name": "BuyType",
						"type": "String"
					},
					{
						"name": "BuyCategory",
						"type": "String"
					},
					{
						"name": "PlacementName",
						"type": "String"
					},
					{
						"name": "PlacementNumber",
						"type": "String"
					},
					{
						"name": "PlacementId",
						"type": "String"
					},
					{
						"name": "PackageType",
						"type": "String"
					},
					{
						"name": "PackageId",
						"type": "String"
					},
					{
						"name": "ParentId",
						"type": "String"
					},
					{
						"name": "PlacementStartDate",
						"type": "String"
					},
					{
						"name": "PlacementEndDate",
						"type": "String"
					},
					{
						"name": "PlacementCreationDate",
						"type": "String"
					},
					{
						"name": "PlacementCreationUser",
						"type": "String"
					},
					{
						"name": "PlacementChangeDate",
						"type": "String"
					},
					{
						"name": "PlacementUser",
						"type": "String"
					},
					{
						"name": "PlacementType",
						"type": "String"
					},
					{
						"name": "PrimaryPlacement",
						"type": "String"
					},
					{
						"name": "AdserverName",
						"type": "String"
					},
					{
						"name": "InstanceName",
						"type": "String"
					},
					{
						"name": "AdserverCampaignId",
						"type": "String"
					},
					{
						"name": "AdserverPackageId",
						"type": "String"
					},
					{
						"name": "AdserverPlacementId",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserName",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdserverClientName",
						"type": "String"
					},
					{
						"name": "AdserverClientCode",
						"type": "String"
					},
					{
						"name": "AdserverSupplierName",
						"type": "String"
					},
					{
						"name": "AdserverSupplierCode",
						"type": "String"
					},
					{
						"name": "AdserverSiteName",
						"type": "String"
					},
					{
						"name": "AdserverSiteCode",
						"type": "String"
					},
					{
						"name": "Site",
						"type": "String"
					},
					{
						"name": "Dimension",
						"type": "String"
					},
					{
						"name": "Positioning",
						"type": "String"
					},
					{
						"name": "Section",
						"type": "String"
					},
					{
						"name": "CostMethod",
						"type": "String"
					},
					{
						"name": "OriginalCostMethod",
						"type": "String"
					},
					{
						"name": "UnitType",
						"type": "String"
					},
					{
						"name": "Market",
						"type": "String"
					},
					{
						"name": "MarketRate",
						"type": "String"
					},
					{
						"name": "Rate",
						"type": "String"
					},
					{
						"name": "IONumber",
						"type": "String"
					},
					{
						"name": "ServedBy",
						"type": "String"
					},
					{
						"name": "CapCost",
						"type": "String"
					},
					{
						"name": "TargetInfo",
						"type": "String"
					},
					{
						"name": "Comments",
						"type": "String"
					},
					{
						"name": "FileType",
						"type": "String"
					},
					{
						"name": "MaxFileSize",
						"type": "String"
					},
					{
						"name": "FlashVersion",
						"type": "String"
					},
					{
						"name": "CreativeDueDate",
						"type": "String"
					},
					{
						"name": "MaxLooping",
						"type": "String"
					},
					{
						"name": "MaxAnimationTiming",
						"type": "String"
					},
					{
						"name": "RichMediaAccepted",
						"type": "String"
					},
					{
						"name": "RichMediaIncCmp",
						"type": "String"
					},
					{
						"name": "EstimatedUniqueViews",
						"type": "String"
					},
					{
						"name": "EstimatedPageViews",
						"type": "String"
					},
					{
						"name": "ShareOfVoice",
						"type": "String"
					},
					{
						"name": "ClickThroughUrl",
						"type": "String"
					},
					{
						"name": "CreativeTypeDescription",
						"type": "String"
					},
					{
						"name": "InventoryType",
						"type": "String"
					},
					{
						"name": "OriginalAmount",
						"type": "String"
					},
					{
						"name": "OriginalCost",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['Data']",
						"jsonPathDefinition": {
							"Data": "$.['Data']",
							"Status.Success": "$.['Status']['Success']",
							"Status.ErrorDescription": "$.['Status']['ErrorDescription']",
							"Status.Result": "$.['Status']['Result']",
							"Status.LastExecutionMark": "$.['Status']['LastExecutionMark']",
							"AgencyName": "[concat('[', '''AgencyName'']')]",
							"AgencyAlphaCode": "[concat('[', '''AgencyAlphaCode'']')]",
							"LocationCompanyCode": "[concat('[', '''LocationCompanyCode'']')]",
							"AdvertiserName": "[concat('[', '''AdvertiserName'']')]",
							"AdvertiserCode": "[concat('[', '''AdvertiserCode'']')]",
							"AdvertiserBusinessKey": "[concat('[', '''AdvertiserBusinessKey'']')]",
							"ProductName": "[concat('[', '''ProductName'']')]",
							"ProductCode": "[concat('[', '''ProductCode'']')]",
							"ProductBusinessKey": "[concat('[', '''ProductBusinessKey'']')]",
							"CampaignName": "[concat('[', '''CampaignName'']')]",
							"CampaignPublicId": "[concat('[', '''CampaignPublicId'']')]",
							"CampaignId": "[concat('[', '''CampaignId'']')]",
							"CampaignStartDate": "[concat('[', '''CampaignStartDate'']')]",
							"CampaignEndDate": "[concat('[', '''CampaignEndDate'']')]",
							"CampaignCreationDate": "[concat('[', '''CampaignCreationDate'']')]",
							"CampaignCreationUser": "[concat('[', '''CampaignCreationUser'']')]",
							"CampaignUser": "[concat('[', '''CampaignUser'']')]",
							"SupplierName": "[concat('[', '''SupplierName'']')]",
							"SupplierCode": "[concat('[', '''SupplierCode'']')]",
							"SupplierBusinessKey": "[concat('[', '''SupplierBusinessKey'']')]",
							"SupplierProductName": "[concat('[', '''SupplierProductName'']')]",
							"SupplierAdServerOrderId": "[concat('[', '''SupplierAdServerOrderId'']')]",
							"EstimateName": "[concat('[', '''EstimateName'']')]",
							"EstimateCode": "[concat('[', '''EstimateCode'']')]",
							"EstimateBusinessKey": "[concat('[', '''EstimateBusinessKey'']')]",
							"EstimateStartDate": "[concat('[', '''EstimateStartDate'']')]",
							"EstimateEndDate": "[concat('[', '''EstimateEndDate'']')]",
							"MediaName": "[concat('[', '''MediaName'']')]",
							"MediaCode": "[concat('[', '''MediaCode'']')]",
							"BuyType": "[concat('[', '''BuyType'']')]",
							"BuyCategory": "[concat('[', '''BuyCategory'']')]",
							"PlacementName": "[concat('[', '''PlacementName'']')]",
							"PlacementNumber": "[concat('[', '''PlacementNumber'']')]",
							"PlacementId": "[concat('[', '''PlacementId'']')]",
							"PackageType": "[concat('[', '''PackageType'']')]",
							"PackageId": "[concat('[', '''PackageId'']')]",
							"ParentId": "[concat('[', '''ParentId'']')]",
							"PlacementStartDate": "[concat('[', '''PlacementStartDate'']')]",
							"PlacementEndDate": "[concat('[', '''PlacementEndDate'']')]",
							"PlacementCreationDate": "[concat('[', '''PlacementCreationDate'']')]",
							"PlacementCreationUser": "[concat('[', '''PlacementCreationUser'']')]",
							"PlacementChangeDate": "[concat('[', '''PlacementChangeDate'']')]",
							"PlacementUser": "[concat('[', '''PlacementUser'']')]",
							"PlacementType": "[concat('[', '''PlacementType'']')]",
							"PrimaryPlacement": "[concat('[', '''PrimaryPlacement'']')]",
							"AdserverName": "[concat('[', '''AdserverName'']')]",
							"InstanceName": "[concat('[', '''InstanceName'']')]",
							"AdserverCampaignId": "[concat('[', '''AdserverCampaignId'']')]",
							"AdserverPackageId": "[concat('[', '''AdserverPackageId'']')]",
							"AdserverPlacementId": "[concat('[', '''AdserverPlacementId'']')]",
							"AdserverAdvertiserName": "[concat('[', '''AdserverAdvertiserName'']')]",
							"AdserverAdvertiserCode": "[concat('[', '''AdserverAdvertiserCode'']')]",
							"AdserverClientName": "[concat('[', '''AdserverClientName'']')]",
							"AdserverClientCode": "[concat('[', '''AdserverClientCode'']')]",
							"AdserverSupplierName": "[concat('[', '''AdserverSupplierName'']')]",
							"AdserverSupplierCode": "[concat('[', '''AdserverSupplierCode'']')]",
							"AdserverSiteName": "[concat('[', '''AdserverSiteName'']')]",
							"AdserverSiteCode": "[concat('[', '''AdserverSiteCode'']')]",
							"Site": "[concat('[', '''Site'']')]",
							"Dimension": "[concat('[', '''Dimension'']')]",
							"Positioning": "[concat('[', '''Positioning'']')]",
							"Section": "[concat('[', '''Section'']')]",
							"CostMethod": "[concat('[', '''CostMethod'']')]",
							"OriginalCostMethod": "[concat('[', '''OriginalCostMethod'']')]",
							"UnitType": "[concat('[', '''UnitType'']')]",
							"Market": "[concat('[', '''Market'']')]",
							"MarketRate": "[concat('[', '''MarketRate'']')]",
							"Rate": "[concat('[', '''Rate'']')]",
							"IONumber": "[concat('[', '''IONumber'']')]",
							"ServedBy": "[concat('[', '''ServedBy'']')]",
							"CapCost": "[concat('[', '''CapCost'']')]",
							"TargetInfo": "[concat('[', '''TargetInfo'']')]",
							"Comments": "[concat('[', '''Comments'']')]",
							"FileType": "[concat('[', '''FileType'']')]",
							"MaxFileSize": "[concat('[', '''MaxFileSize'']')]",
							"FlashVersion": "[concat('[', '''FlashVersion'']')]",
							"CreativeDueDate": "[concat('[', '''CreativeDueDate'']')]",
							"MaxLooping": "[concat('[', '''MaxLooping'']')]",
							"MaxAnimationTiming": "[concat('[', '''MaxAnimationTiming'']')]",
							"RichMediaAccepted": "[concat('[', '''RichMediaAccepted'']')]",
							"RichMediaIncCmp": "[concat('[', '''RichMediaIncCmp'']')]",
							"EstimatedUniqueViews": "[concat('[', '''EstimatedUniqueViews'']')]",
							"EstimatedPageViews": "[concat('[', '''EstimatedPageViews'']')]",
							"ShareOfVoice": "[concat('[', '''ShareOfVoice'']')]",
							"ClickThroughUrl": "[concat('[', '''ClickThroughUrl'']')]",
							"CreativeTypeDescription": "[concat('[', '''CreativeTypeDescription'']')]",
							"InventoryType": "[concat('[', '''InventoryType'']')]",
							"OriginalAmount": "[concat('[', '''OriginalAmount'']')]",
							"OriginalCost": "[concat('[', '''OriginalCost'']')]",
							"IsDeleted": "[concat('[', '''IsDeleted'']')]"
						}
					},
					"relativeUrl": {
						"value": "api/DataFeed/465?prisma%20access%20token=@{dataset().PrismaAccessToken}&campaignid=@{dataset().CampaignID}&includedeletions=@{dataset().IncludeDeletions}&applicationtype=Azure_WM-US-TRP&useremail=wm-us-trp@groupm.com&applicationtoken=830FF98D-AE5D-47F4-AA41-133FB86411F6",
						"type": "Expression"
					},
					"requestMethod": "Get"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_PlacementmonthlyTRP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PrismaAccessToken": {
						"type": "String",
						"defaultValue": "7adb7c89-64a4-46de-a141-5c9843be0fca"
					},
					"CampaignID": {
						"type": "String",
						"defaultValue": "0"
					},
					"StartDate": {
						"type": "String",
						"defaultValue": "1/1/2014"
					},
					"EndDate": {
						"type": "String",
						"defaultValue": "12/31/2019"
					},
					"IncludeDeletions": {
						"type": "String",
						"defaultValue": "False"
					}
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "AgencyAlphaCode",
						"type": "String"
					},
					{
						"name": "LocationCompanyCode",
						"type": "String"
					},
					{
						"name": "AdvertiserName",
						"type": "String"
					},
					{
						"name": "AdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdvertiserBusinessKey",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "ProductCode",
						"type": "String"
					},
					{
						"name": "ProductBusinessKey",
						"type": "String"
					},
					{
						"name": "CampaignName",
						"type": "String"
					},
					{
						"name": "CampaignPublicId",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "CampaignStartDate",
						"type": "String"
					},
					{
						"name": "CampaignEndDate",
						"type": "String"
					},
					{
						"name": "SupplierName",
						"type": "String"
					},
					{
						"name": "SupplierCode",
						"type": "String"
					},
					{
						"name": "SupplierBusinessKey",
						"type": "String"
					},
					{
						"name": "EstimateName",
						"type": "String"
					},
					{
						"name": "EstimateCode",
						"type": "String"
					},
					{
						"name": "EstimateBusinessKey",
						"type": "String"
					},
					{
						"name": "MediaName",
						"type": "String"
					},
					{
						"name": "MediaCode",
						"type": "String"
					},
					{
						"name": "BuyType",
						"type": "String"
					},
					{
						"name": "BuyCategory",
						"type": "String"
					},
					{
						"name": "PlacementName",
						"type": "String"
					},
					{
						"name": "PlacementNumber",
						"type": "String"
					},
					{
						"name": "PlacementId",
						"type": "String"
					},
					{
						"name": "PackageType",
						"type": "String"
					},
					{
						"name": "PackageId",
						"type": "String"
					},
					{
						"name": "ParentId",
						"type": "String"
					},
					{
						"name": "PlacementStartDate",
						"type": "String"
					},
					{
						"name": "PlacementEndDate",
						"type": "String"
					},
					{
						"name": "PlacementMonthlyStartDate",
						"type": "String"
					},
					{
						"name": "PlacementMonthlyEndDate",
						"type": "String"
					},
					{
						"name": "PlacementMonth",
						"type": "String"
					},
					{
						"name": "PlacementYear",
						"type": "String"
					},
					{
						"name": "PlacementType",
						"type": "String"
					},
					{
						"name": "PrimaryPlacement",
						"type": "String"
					},
					{
						"name": "AdserverName",
						"type": "String"
					},
					{
						"name": "InstanceName",
						"type": "String"
					},
					{
						"name": "AdserverCampaignId",
						"type": "String"
					},
					{
						"name": "AdserverPackageId",
						"type": "String"
					},
					{
						"name": "AdserverPlacementId",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserName",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdserverClientName",
						"type": "String"
					},
					{
						"name": "AdserverClientCode",
						"type": "String"
					},
					{
						"name": "AdserverSupplierName",
						"type": "String"
					},
					{
						"name": "AdserverSupplierCode",
						"type": "String"
					},
					{
						"name": "AdserverSiteName",
						"type": "String"
					},
					{
						"name": "AdserverSiteCode",
						"type": "String"
					},
					{
						"name": "DeliveryExists",
						"type": "String"
					},
					{
						"name": "FirstPartyDeliverySource",
						"type": "String"
					},
					{
						"name": "ThirdPartyDeliverySource",
						"type": "String"
					},
					{
						"name": "PlannedAmount",
						"type": "String"
					},
					{
						"name": "PlannedUnits",
						"type": "String"
					},
					{
						"name": "PlannedImpressions",
						"type": "String"
					},
					{
						"name": "PlannedClicks",
						"type": "String"
					},
					{
						"name": "PlannedActions",
						"type": "String"
					},
					{
						"name": "IOAmount",
						"type": "String"
					},
					{
						"name": "SupplierUnits",
						"type": "String"
					},
					{
						"name": "SupplierImpressions",
						"type": "String"
					},
					{
						"name": "SupplierClicks",
						"type": "String"
					},
					{
						"name": "SupplierActions",
						"type": "String"
					},
					{
						"name": "SupplierCost",
						"type": "String"
					},
					{
						"name": "AdserverUnits",
						"type": "String"
					},
					{
						"name": "AdserverImpressions",
						"type": "String"
					},
					{
						"name": "AdserverClicks",
						"type": "String"
					},
					{
						"name": "AdserverActions",
						"type": "String"
					},
					{
						"name": "AdserverCost",
						"type": "String"
					},
					{
						"name": "WeightedPostImpressions",
						"type": "String"
					},
					{
						"name": "WeightedPostClicks",
						"type": "String"
					},
					{
						"name": "WeightedActions",
						"type": "String"
					},
					{
						"name": "ConversionPostImpressions",
						"type": "String"
					},
					{
						"name": "ConversionPostClicks",
						"type": "String"
					},
					{
						"name": "ConversionActions",
						"type": "String"
					},
					{
						"name": "ApprovedAmount",
						"type": "String"
					},
					{
						"name": "ApprovedUnits",
						"type": "String"
					},
					{
						"name": "ApprovedSource",
						"type": "String"
					},
					{
						"name": "OriginalAmount",
						"type": "String"
					},
					{
						"name": "TotalRemainingAmount",
						"type": "String"
					},
					{
						"name": "TotalRemainingUnits",
						"type": "String"
					},
					{
						"name": "EligibleImpressions",
						"type": "String"
					},
					{
						"name": "MeasurableImpressions",
						"type": "String"
					},
					{
						"name": "ViewableImpressions",
						"type": "String"
					},
					{
						"name": "ReportedImpressions",
						"type": "String"
					},
					{
						"name": "ReportedClicks",
						"type": "String"
					},
					{
						"name": "ReportedConversions",
						"type": "String"
					},
					{
						"name": "AttributedConversion",
						"type": "String"
					},
					{
						"name": "StartDate",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					},
					{
						"name": "PackageHeaderPlacementNumber",
						"type": "String"
					},
					{
						"name": "BillableRate",
						"type": "String"
					},
					{
						"name": "EndDate",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['Data']",
						"jsonPathDefinition": {
							"Data": "$.['Data']",
							"Status.Success": "$.['Status']['Success']",
							"Status.ErrorDescription": "$.['Status']['ErrorDescription']",
							"Status.Result": "$.['Status']['Result']",
							"Status.LastExecutionMark": "$.['Status']['LastExecutionMark']",
							"StartDate": "[concat('[', '''StartDate'']')]",
							"EndDate": "[concat('[', '''EndDate'']')]",
							"AgencyName": "[concat('[', '''AgencyName'']')]",
							"AgencyAlphaCode": "[concat('[', '''AgencyAlphaCode'']')]",
							"LocationCompanyCode": "[concat('[', '''LocationCompanyCode'']')]",
							"AdvertiserName": "[concat('[', '''AdvertiserName'']')]",
							"AdvertiserCode": "[concat('[', '''AdvertiserCode'']')]",
							"AdvertiserBusinessKey": "[concat('[', '''AdvertiserBusinessKey'']')]",
							"ProductName": "[concat('[', '''ProductName'']')]",
							"ProductCode": "[concat('[', '''ProductCode'']')]",
							"ProductBusinessKey": "[concat('[', '''ProductBusinessKey'']')]",
							"CampaignName": "[concat('[', '''CampaignName'']')]",
							"CampaignPublicId": "[concat('[', '''CampaignPublicId'']')]",
							"CampaignId": "[concat('[', '''CampaignId'']')]",
							"CampaignStartDate": "[concat('[', '''CampaignStartDate'']')]",
							"CampaignEndDate": "[concat('[', '''CampaignEndDate'']')]",
							"SupplierName": "[concat('[', '''SupplierName'']')]",
							"SupplierCode": "[concat('[', '''SupplierCode'']')]",
							"SupplierBusinessKey": "[concat('[', '''SupplierBusinessKey'']')]",
							"EstimateName": "[concat('[', '''EstimateName'']')]",
							"EstimateCode": "[concat('[', '''EstimateCode'']')]",
							"EstimateBusinessKey": "[concat('[', '''EstimateBusinessKey'']')]",
							"MediaName": "[concat('[', '''MediaName'']')]",
							"MediaCode": "[concat('[', '''MediaCode'']')]",
							"BuyType": "[concat('[', '''BuyType'']')]",
							"BuyCategory": "[concat('[', '''BuyCategory'']')]",
							"PlacementName": "[concat('[', '''PlacementName'']')]",
							"PlacementNumber": "[concat('[', '''PlacementNumber'']')]",
							"PlacementId": "[concat('[', '''PlacementId'']')]",
							"PackageType": "[concat('[', '''PackageType'']')]",
							"PackageId": "[concat('[', '''PackageId'']')]",
							"ParentId": "[concat('[', '''ParentId'']')]",
							"PlacementStartDate": "[concat('[', '''PlacementStartDate'']')]",
							"PlacementEndDate": "[concat('[', '''PlacementEndDate'']')]",
							"PlacementMonthlyStartDate": "[concat('[', '''PlacementMonthlyStartDate'']')]",
							"PlacementMonthlyEndDate": "[concat('[', '''PlacementMonthlyEndDate'']')]",
							"PlacementMonth": "[concat('[', '''PlacementMonth'']')]",
							"PlacementYear": "[concat('[', '''PlacementYear'']')]",
							"PlacementType": "[concat('[', '''PlacementType'']')]",
							"PrimaryPlacement": "[concat('[', '''PrimaryPlacement'']')]",
							"AdserverName": "[concat('[', '''AdserverName'']')]",
							"InstanceName": "[concat('[', '''InstanceName'']')]",
							"AdserverCampaignId": "[concat('[', '''AdserverCampaignId'']')]",
							"AdserverPackageId": "[concat('[', '''AdserverPackageId'']')]",
							"AdserverPlacementId": "[concat('[', '''AdserverPlacementId'']')]",
							"AdserverAdvertiserName": "[concat('[', '''AdserverAdvertiserName'']')]",
							"AdserverAdvertiserCode": "[concat('[', '''AdserverAdvertiserCode'']')]",
							"AdserverClientName": "[concat('[', '''AdserverClientName'']')]",
							"AdserverClientCode": "[concat('[', '''AdserverClientCode'']')]",
							"AdserverSupplierName": "[concat('[', '''AdserverSupplierName'']')]",
							"AdserverSupplierCode": "[concat('[', '''AdserverSupplierCode'']')]",
							"AdserverSiteName": "[concat('[', '''AdserverSiteName'']')]",
							"AdserverSiteCode": "[concat('[', '''AdserverSiteCode'']')]",
							"DeliveryExists": "[concat('[', '''DeliveryExists'']')]",
							"FirstPartyDeliverySource": "[concat('[', '''FirstPartyDeliverySource'']')]",
							"ThirdPartyDeliverySource": "[concat('[', '''ThirdPartyDeliverySource'']')]",
							"PlannedAmount": "[concat('[', '''PlannedAmount'']')]",
							"PlannedUnits": "[concat('[', '''PlannedUnits'']')]",
							"PlannedImpressions": "[concat('[', '''PlannedImpressions'']')]",
							"PlannedClicks": "[concat('[', '''PlannedClicks'']')]",
							"PlannedActions": "[concat('[', '''PlannedActions'']')]",
							"IOAmount": "[concat('[', '''IOAmount'']')]",
							"SupplierUnits": "[concat('[', '''SupplierUnits'']')]",
							"SupplierImpressions": "[concat('[', '''SupplierImpressions'']')]",
							"SupplierClicks": "[concat('[', '''SupplierClicks'']')]",
							"SupplierActions": "[concat('[', '''SupplierActions'']')]",
							"SupplierCost": "[concat('[', '''SupplierCost'']')]",
							"AdserverUnits": "[concat('[', '''AdserverUnits'']')]",
							"AdserverImpressions": "[concat('[', '''AdserverImpressions'']')]",
							"AdserverClicks": "[concat('[', '''AdserverClicks'']')]",
							"AdserverActions": "[concat('[', '''AdserverActions'']')]",
							"AdserverCost": "[concat('[', '''AdserverCost'']')]",
							"WeightedPostImpressions": "[concat('[', '''WeightedPostImpressions'']')]",
							"WeightedPostClicks": "[concat('[', '''WeightedPostClicks'']')]",
							"WeightedActions": "[concat('[', '''WeightedActions'']')]",
							"ConversionPostImpressions": "[concat('[', '''ConversionPostImpressions'']')]",
							"ConversionPostClicks": "[concat('[', '''ConversionPostClicks'']')]",
							"ConversionActions": "[concat('[', '''ConversionActions'']')]",
							"ApprovedAmount": "[concat('[', '''ApprovedAmount'']')]",
							"ApprovedUnits": "[concat('[', '''ApprovedUnits'']')]",
							"ApprovedSource": "[concat('[', '''ApprovedSource'']')]",
							"OriginalAmount": "[concat('[', '''OriginalAmount'']')]",
							"TotalRemainingAmount": "[concat('[', '''TotalRemainingAmount'']')]",
							"TotalRemainingUnits": "[concat('[', '''TotalRemainingUnits'']')]",
							"EligibleImpressions": "[concat('[', '''EligibleImpressions'']')]",
							"MeasurableImpressions": "[concat('[', '''MeasurableImpressions'']')]",
							"ViewableImpressions": "[concat('[', '''ViewableImpressions'']')]",
							"ReportedImpressions": "[concat('[', '''ReportedImpressions'']')]",
							"ReportedClicks": "[concat('[', '''ReportedClicks'']')]",
							"ReportedConversions": "[concat('[', '''ReportedConversions'']')]",
							"AttributedConversion": "[concat('[', '''AttributedConversion'']')]",
							"IsDeleted": "[concat('[', '''IsDeleted'']')]",
							"PackageHeaderPlacementNumber": "[concat('[', '''PackageHeaderPlacementNumber'']')]",
							"BillableRate": "[concat('[', '''BillableRate'']')]"
						}
					},
					"relativeUrl": {
						"value": "/api/DataFeed/467?Prisma Access Token=@{dataset().PrismaAccessToken}&CampaignID=@{dataset().CampaignID}&StartDate=@{dataset().StartDate}&EndDate=@{dataset().EndDate}&IncludeDeletions=@{dataset().IncludeDeletions}&Applicationtype=Azure_WM-US-TRP&Applicationtoken=830FF98D-AE5D-47F4-AA41-133FB86411F6&Useremail=wm-us-trp@groupm.com",
						"type": "Expression"
					},
					"requestMethod": "Get"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_SQLProc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLConnection",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "StartDate",
						"type": "String"
					},
					{
						"name": "EndDate",
						"type": "String"
					},
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "AgencyAlphaCode",
						"type": "String"
					},
					{
						"name": "LocationCompanyCode",
						"type": "String"
					},
					{
						"name": "AdvertiserName",
						"type": "String"
					},
					{
						"name": "AdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdvertiserBusinessKey",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "ProductCode",
						"type": "String"
					},
					{
						"name": "ProductBusinessKey",
						"type": "String"
					},
					{
						"name": "CampaignName",
						"type": "String"
					},
					{
						"name": "CampaignPublicId",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "CampaignStartDate",
						"type": "String"
					},
					{
						"name": "CampaignEndDate",
						"type": "String"
					},
					{
						"name": "SupplierName",
						"type": "String"
					},
					{
						"name": "SupplierCode",
						"type": "String"
					},
					{
						"name": "SupplierBusinessKey",
						"type": "String"
					},
					{
						"name": "EstimateName",
						"type": "String"
					},
					{
						"name": "EstimateCode",
						"type": "String"
					},
					{
						"name": "EstimateBusinessKey",
						"type": "String"
					},
					{
						"name": "MediaName",
						"type": "String"
					},
					{
						"name": "MediaCode",
						"type": "String"
					},
					{
						"name": "BuyType",
						"type": "String"
					},
					{
						"name": "BuyCategory",
						"type": "String"
					},
					{
						"name": "PlacementName",
						"type": "String"
					},
					{
						"name": "PlacementNumber",
						"type": "String"
					},
					{
						"name": "PlacementId",
						"type": "String"
					},
					{
						"name": "PackageType",
						"type": "String"
					},
					{
						"name": "PackageId",
						"type": "String"
					},
					{
						"name": "ParentId",
						"type": "String"
					},
					{
						"name": "PlacementStartDate",
						"type": "String"
					},
					{
						"name": "PlacementEndDate",
						"type": "String"
					},
					{
						"name": "PlacementMonthlyStartDate",
						"type": "String"
					},
					{
						"name": "PlacementMonthlyEndDate",
						"type": "String"
					},
					{
						"name": "PlacementMonth",
						"type": "String"
					},
					{
						"name": "PlacementYear",
						"type": "String"
					},
					{
						"name": "PlacementType",
						"type": "String"
					},
					{
						"name": "PrimaryPlacement",
						"type": "String"
					},
					{
						"name": "AdserverName",
						"type": "String"
					},
					{
						"name": "InstanceName",
						"type": "String"
					},
					{
						"name": "AdserverCampaignId",
						"type": "String"
					},
					{
						"name": "AdserverPackageId",
						"type": "String"
					},
					{
						"name": "AdserverPlacementId",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserName",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdserverClientName",
						"type": "String"
					},
					{
						"name": "AdserverClientCode",
						"type": "String"
					},
					{
						"name": "AdserverSupplierName",
						"type": "String"
					},
					{
						"name": "AdserverSupplierCode",
						"type": "String"
					},
					{
						"name": "AdserverSiteName",
						"type": "String"
					},
					{
						"name": "AdserverSiteCode",
						"type": "String"
					},
					{
						"name": "DeliveryExists",
						"type": "String"
					},
					{
						"name": "PlannedAmount",
						"type": "String"
					},
					{
						"name": "PlannedUnits",
						"type": "String"
					},
					{
						"name": "PlannedImpressions",
						"type": "String"
					},
					{
						"name": "PlannedClicks",
						"type": "String"
					},
					{
						"name": "PlannedActions",
						"type": "String"
					},
					{
						"name": "IOAmount",
						"type": "String"
					},
					{
						"name": "SupplierUnits",
						"type": "String"
					},
					{
						"name": "SupplierImpressions",
						"type": "String"
					},
					{
						"name": "SupplierClicks",
						"type": "String"
					},
					{
						"name": "SupplierActions",
						"type": "String"
					},
					{
						"name": "SupplierCost",
						"type": "String"
					},
					{
						"name": "AdserverUnits",
						"type": "String"
					},
					{
						"name": "AdserverImpressions",
						"type": "String"
					},
					{
						"name": "AdserverClicks",
						"type": "String"
					},
					{
						"name": "AdserverActions",
						"type": "String"
					},
					{
						"name": "AdserverCost",
						"type": "String"
					},
					{
						"name": "WeightedPostImpressions",
						"type": "String"
					},
					{
						"name": "WeightedPostClicks",
						"type": "String"
					},
					{
						"name": "WeightedActions",
						"type": "String"
					},
					{
						"name": "ConversionPostImpressions",
						"type": "String"
					},
					{
						"name": "ConversionPostClicks",
						"type": "String"
					},
					{
						"name": "ConversionActions",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "Prisma"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040804_Prisma_Placement_Monthly_Delivery_TRowePrice_WMTR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PrismaAccessToken": {
						"type": "String",
						"defaultValue": "19424571-bcd1-47e7-be61-5f1d556cfb6c"
					},
					"CampaignID": {
						"type": "String",
						"defaultValue": "0"
					},
					"StartDate": {
						"type": "String",
						"defaultValue": "1/1/2014"
					},
					"EndDate": {
						"type": "String",
						"defaultValue": "12/31/2020"
					},
					"IncludeDeletions": {
						"type": "String",
						"defaultValue": "False"
					}
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "AgencyName",
						"type": "String"
					},
					{
						"name": "AgencyAlphaCode",
						"type": "String"
					},
					{
						"name": "LocationCompanyCode",
						"type": "String"
					},
					{
						"name": "AdvertiserName",
						"type": "String"
					},
					{
						"name": "AdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdvertiserBusinessKey",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "ProductCode",
						"type": "String"
					},
					{
						"name": "ProductBusinessKey",
						"type": "String"
					},
					{
						"name": "CampaignName",
						"type": "String"
					},
					{
						"name": "CampaignPublicId",
						"type": "String"
					},
					{
						"name": "CampaignId",
						"type": "String"
					},
					{
						"name": "CampaignStartDate",
						"type": "String"
					},
					{
						"name": "CampaignEndDate",
						"type": "String"
					},
					{
						"name": "SupplierName",
						"type": "String"
					},
					{
						"name": "SupplierCode",
						"type": "String"
					},
					{
						"name": "SupplierBusinessKey",
						"type": "String"
					},
					{
						"name": "EstimateName",
						"type": "String"
					},
					{
						"name": "EstimateCode",
						"type": "String"
					},
					{
						"name": "EstimateBusinessKey",
						"type": "String"
					},
					{
						"name": "MediaName",
						"type": "String"
					},
					{
						"name": "MediaCode",
						"type": "String"
					},
					{
						"name": "BuyType",
						"type": "String"
					},
					{
						"name": "BuyCategory",
						"type": "String"
					},
					{
						"name": "PlacementName",
						"type": "String"
					},
					{
						"name": "PlacementNumber",
						"type": "String"
					},
					{
						"name": "PlacementId",
						"type": "String"
					},
					{
						"name": "PackageType",
						"type": "String"
					},
					{
						"name": "PackageId",
						"type": "String"
					},
					{
						"name": "ParentId",
						"type": "String"
					},
					{
						"name": "PlacementStartDate",
						"type": "String"
					},
					{
						"name": "PlacementEndDate",
						"type": "String"
					},
					{
						"name": "PlacementMonthlyStartDate",
						"type": "String"
					},
					{
						"name": "PlacementMonthlyEndDate",
						"type": "String"
					},
					{
						"name": "PlacementMonth",
						"type": "String"
					},
					{
						"name": "PlacementYear",
						"type": "String"
					},
					{
						"name": "PlacementType",
						"type": "String"
					},
					{
						"name": "PrimaryPlacement",
						"type": "String"
					},
					{
						"name": "AdserverName",
						"type": "String"
					},
					{
						"name": "InstanceName",
						"type": "String"
					},
					{
						"name": "AdserverCampaignId",
						"type": "String"
					},
					{
						"name": "AdserverPackageId",
						"type": "String"
					},
					{
						"name": "AdserverPlacementId",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserName",
						"type": "String"
					},
					{
						"name": "AdserverAdvertiserCode",
						"type": "String"
					},
					{
						"name": "AdserverClientName",
						"type": "String"
					},
					{
						"name": "AdserverClientCode",
						"type": "String"
					},
					{
						"name": "AdserverSupplierName",
						"type": "String"
					},
					{
						"name": "AdserverSupplierCode",
						"type": "String"
					},
					{
						"name": "AdserverSiteName",
						"type": "String"
					},
					{
						"name": "AdserverSiteCode",
						"type": "String"
					},
					{
						"name": "DeliveryExists",
						"type": "String"
					},
					{
						"name": "FirstPartyDeliverySource",
						"type": "String"
					},
					{
						"name": "ThirdPartyDeliverySource",
						"type": "String"
					},
					{
						"name": "PlannedAmount",
						"type": "String"
					},
					{
						"name": "PlannedUnits",
						"type": "String"
					},
					{
						"name": "PlannedImpressions",
						"type": "String"
					},
					{
						"name": "PlannedClicks",
						"type": "String"
					},
					{
						"name": "PlannedActions",
						"type": "String"
					},
					{
						"name": "IOAmount",
						"type": "String"
					},
					{
						"name": "SupplierUnits",
						"type": "String"
					},
					{
						"name": "SupplierImpressions",
						"type": "String"
					},
					{
						"name": "SupplierClicks",
						"type": "String"
					},
					{
						"name": "SupplierActions",
						"type": "String"
					},
					{
						"name": "SupplierCost",
						"type": "String"
					},
					{
						"name": "AdserverUnits",
						"type": "String"
					},
					{
						"name": "AdserverImpressions",
						"type": "String"
					},
					{
						"name": "AdserverClicks",
						"type": "String"
					},
					{
						"name": "AdserverActions",
						"type": "String"
					},
					{
						"name": "AdserverCost",
						"type": "String"
					},
					{
						"name": "WeightedPostImpressions",
						"type": "String"
					},
					{
						"name": "WeightedPostClicks",
						"type": "String"
					},
					{
						"name": "WeightedActions",
						"type": "String"
					},
					{
						"name": "ConversionPostImpressions",
						"type": "String"
					},
					{
						"name": "ConversionPostClicks",
						"type": "String"
					},
					{
						"name": "ConversionActions",
						"type": "String"
					},
					{
						"name": "ApprovedAmount",
						"type": "String"
					},
					{
						"name": "ApprovedUnits",
						"type": "String"
					},
					{
						"name": "ApprovedSource",
						"type": "String"
					},
					{
						"name": "OriginalAmount",
						"type": "String"
					},
					{
						"name": "TotalRemainingAmount",
						"type": "String"
					},
					{
						"name": "TotalRemainingUnits",
						"type": "String"
					},
					{
						"name": "EligibleImpressions",
						"type": "String"
					},
					{
						"name": "MeasurableImpressions",
						"type": "String"
					},
					{
						"name": "ViewableImpressions",
						"type": "String"
					},
					{
						"name": "ReportedImpressions",
						"type": "String"
					},
					{
						"name": "ReportedClicks",
						"type": "String"
					},
					{
						"name": "ReportedConversions",
						"type": "String"
					},
					{
						"name": "AttributedConversion",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					},
					{
						"name": "PackageHeaderPlacementNumber",
						"type": "String"
					},
					{
						"name": "BillableRate",
						"type": "String"
					},
					{
						"name": "StartDate",
						"type": "String"
					},
					{
						"name": "EndDate",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['Data']",
						"jsonPathDefinition": {
							"Data": "$.['Data']",
							"Status.Success": "$.['Status']['Success']",
							"Status.ErrorDescription": "$.['Status']['ErrorDescription']",
							"Status.Result": "$.['Status']['Result']",
							"Status.LastExecutionMark": "$.['Status']['LastExecutionMark']",
							"StartDate": "[concat('[', '''StartDate'']')]",
							"EndDate": "[concat('[', '''EndDate'']')]",
							"AgencyName": "[concat('[', '''AgencyName'']')]",
							"AgencyAlphaCode": "[concat('[', '''AgencyAlphaCode'']')]",
							"LocationCompanyCode": "[concat('[', '''LocationCompanyCode'']')]",
							"AdvertiserName": "[concat('[', '''AdvertiserName'']')]",
							"AdvertiserCode": "[concat('[', '''AdvertiserCode'']')]",
							"AdvertiserBusinessKey": "[concat('[', '''AdvertiserBusinessKey'']')]",
							"ProductName": "[concat('[', '''ProductName'']')]",
							"ProductCode": "[concat('[', '''ProductCode'']')]",
							"ProductBusinessKey": "[concat('[', '''ProductBusinessKey'']')]",
							"CampaignName": "[concat('[', '''CampaignName'']')]",
							"CampaignPublicId": "[concat('[', '''CampaignPublicId'']')]",
							"CampaignId": "[concat('[', '''CampaignId'']')]",
							"CampaignStartDate": "[concat('[', '''CampaignStartDate'']')]",
							"CampaignEndDate": "[concat('[', '''CampaignEndDate'']')]",
							"SupplierName": "[concat('[', '''SupplierName'']')]",
							"SupplierCode": "[concat('[', '''SupplierCode'']')]",
							"SupplierBusinessKey": "[concat('[', '''SupplierBusinessKey'']')]",
							"EstimateName": "[concat('[', '''EstimateName'']')]",
							"EstimateCode": "[concat('[', '''EstimateCode'']')]",
							"EstimateBusinessKey": "[concat('[', '''EstimateBusinessKey'']')]",
							"MediaName": "[concat('[', '''MediaName'']')]",
							"MediaCode": "[concat('[', '''MediaCode'']')]",
							"BuyType": "[concat('[', '''BuyType'']')]",
							"BuyCategory": "[concat('[', '''BuyCategory'']')]",
							"PlacementName": "[concat('[', '''PlacementName'']')]",
							"PlacementNumber": "[concat('[', '''PlacementNumber'']')]",
							"PlacementId": "[concat('[', '''PlacementId'']')]",
							"PackageType": "[concat('[', '''PackageType'']')]",
							"PackageId": "[concat('[', '''PackageId'']')]",
							"ParentId": "[concat('[', '''ParentId'']')]",
							"PlacementStartDate": "[concat('[', '''PlacementStartDate'']')]",
							"PlacementEndDate": "[concat('[', '''PlacementEndDate'']')]",
							"PlacementMonthlyStartDate": "[concat('[', '''PlacementMonthlyStartDate'']')]",
							"PlacementMonthlyEndDate": "[concat('[', '''PlacementMonthlyEndDate'']')]",
							"PlacementMonth": "[concat('[', '''PlacementMonth'']')]",
							"PlacementYear": "[concat('[', '''PlacementYear'']')]",
							"PlacementType": "[concat('[', '''PlacementType'']')]",
							"PrimaryPlacement": "[concat('[', '''PrimaryPlacement'']')]",
							"AdserverName": "[concat('[', '''AdserverName'']')]",
							"InstanceName": "[concat('[', '''InstanceName'']')]",
							"AdserverCampaignId": "[concat('[', '''AdserverCampaignId'']')]",
							"AdserverPackageId": "[concat('[', '''AdserverPackageId'']')]",
							"AdserverPlacementId": "[concat('[', '''AdserverPlacementId'']')]",
							"AdserverAdvertiserName": "[concat('[', '''AdserverAdvertiserName'']')]",
							"AdserverAdvertiserCode": "[concat('[', '''AdserverAdvertiserCode'']')]",
							"AdserverClientName": "[concat('[', '''AdserverClientName'']')]",
							"AdserverClientCode": "[concat('[', '''AdserverClientCode'']')]",
							"AdserverSupplierName": "[concat('[', '''AdserverSupplierName'']')]",
							"AdserverSupplierCode": "[concat('[', '''AdserverSupplierCode'']')]",
							"AdserverSiteName": "[concat('[', '''AdserverSiteName'']')]",
							"AdserverSiteCode": "[concat('[', '''AdserverSiteCode'']')]",
							"DeliveryExists": "[concat('[', '''DeliveryExists'']')]",
							"FirstPartyDeliverySource": "[concat('[', '''FirstPartyDeliverySource'']')]",
							"ThirdPartyDeliverySource": "[concat('[', '''ThirdPartyDeliverySource'']')]",
							"PlannedAmount": "[concat('[', '''PlannedAmount'']')]",
							"PlannedUnits": "[concat('[', '''PlannedUnits'']')]",
							"PlannedImpressions": "[concat('[', '''PlannedImpressions'']')]",
							"PlannedClicks": "[concat('[', '''PlannedClicks'']')]",
							"PlannedActions": "[concat('[', '''PlannedActions'']')]",
							"IOAmount": "[concat('[', '''IOAmount'']')]",
							"SupplierUnits": "[concat('[', '''SupplierUnits'']')]",
							"SupplierImpressions": "[concat('[', '''SupplierImpressions'']')]",
							"SupplierClicks": "[concat('[', '''SupplierClicks'']')]",
							"SupplierActions": "[concat('[', '''SupplierActions'']')]",
							"SupplierCost": "[concat('[', '''SupplierCost'']')]",
							"AdserverUnits": "[concat('[', '''AdserverUnits'']')]",
							"AdserverImpressions": "[concat('[', '''AdserverImpressions'']')]",
							"AdserverClicks": "[concat('[', '''AdserverClicks'']')]",
							"AdserverActions": "[concat('[', '''AdserverActions'']')]",
							"AdserverCost": "[concat('[', '''AdserverCost'']')]",
							"WeightedPostImpressions": "[concat('[', '''WeightedPostImpressions'']')]",
							"WeightedPostClicks": "[concat('[', '''WeightedPostClicks'']')]",
							"WeightedActions": "[concat('[', '''WeightedActions'']')]",
							"ConversionPostImpressions": "[concat('[', '''ConversionPostImpressions'']')]",
							"ConversionPostClicks": "[concat('[', '''ConversionPostClicks'']')]",
							"ConversionActions": "[concat('[', '''ConversionActions'']')]",
							"ApprovedAmount": "[concat('[', '''ApprovedAmount'']')]",
							"ApprovedUnits": "[concat('[', '''ApprovedUnits'']')]",
							"ApprovedSource": "[concat('[', '''ApprovedSource'']')]",
							"OriginalAmount": "[concat('[', '''OriginalAmount'']')]",
							"TotalRemainingAmount": "[concat('[', '''TotalRemainingAmount'']')]",
							"TotalRemainingUnits": "[concat('[', '''TotalRemainingUnits'']')]",
							"EligibleImpressions": "[concat('[', '''EligibleImpressions'']')]",
							"MeasurableImpressions": "[concat('[', '''MeasurableImpressions'']')]",
							"ViewableImpressions": "[concat('[', '''ViewableImpressions'']')]",
							"ReportedImpressions": "[concat('[', '''ReportedImpressions'']')]",
							"ReportedClicks": "[concat('[', '''ReportedClicks'']')]",
							"ReportedConversions": "[concat('[', '''ReportedConversions'']')]",
							"AttributedConversion": "[concat('[', '''AttributedConversion'']')]",
							"IsDeleted": "[concat('[', '''IsDeleted'']')]",
							"PackageHeaderPlacementNumber": "[concat('[', '''PackageHeaderPlacementNumber'']')]",
							"BillableRate": "[concat('[', '''BillableRate'']')]"
						}
					},
					"relativeUrl": {
						"value": "/api/DataFeed/467?Prisma Access Token=@{dataset().PrismaAccessToken}&CampaignID=@{dataset().CampaignID}&StartDate=@{dataset().StartDate}&EndDate=@{dataset().EndDate}&IncludeDeletions=@{dataset().IncludeDeletions}&Applicationtype=Azure_WM-US-TRP&Applicationtoken=830FF98D-AE5D-47F4-AA41-133FB86411F6&Useremail=wm-us-trp@groupm.com",
						"type": "Expression"
					},
					"requestMethod": "Get"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_AdvancedPlacementTRP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PrismaAccessToken": {
						"type": "String",
						"defaultValue": "7adb7c89-64a4-46de-a141-5c9843be0fca"
					},
					"CampaignID": {
						"type": "String",
						"defaultValue": "0"
					},
					"IncludeDeletions": {
						"type": "String",
						"defaultValue": "False"
					}
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "PlacementName",
						"type": "String"
					},
					{
						"name": "PlacementNumber",
						"type": "String"
					},
					{
						"name": "PlacementId",
						"type": "String"
					},
					{
						"name": "PackageType",
						"type": "String"
					},
					{
						"name": "PackageId",
						"type": "String"
					},
					{
						"name": "ParentId",
						"type": "String"
					},
					{
						"name": "PlacementStartDate",
						"type": "String"
					},
					{
						"name": "PlacementEndDate",
						"type": "String"
					},
					{
						"name": "AdserverCampaignId",
						"type": "String"
					},
					{
						"name": "AdserverPackageId",
						"type": "String"
					},
					{
						"name": "AdserverPlacementId",
						"type": "String"
					},
					{
						"name": "CustomColumnName",
						"type": "String"
					},
					{
						"name": "CustomColumnValue",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['Data']",
						"jsonPathDefinition": {
							"Data": "$.['Data']",
							"Status.Success": "$.['Status']['Success']",
							"Status.ErrorDescription": "$.['Status']['ErrorDescription']",
							"Status.Result": "$.['Status']['Result']",
							"Status.LastExecutionMark": "$.['Status']['LastExecutionMark']",
							"PlacementName": "[concat('[', '''PlacementName'']')]",
							"PlacementNumber": "[concat('[', '''PlacementNumber'']')]",
							"PlacementId": "[concat('[', '''PlacementId'']')]",
							"PackageType": "[concat('[', '''PackageType'']')]",
							"PackageId": "[concat('[', '''PackageId'']')]",
							"ParentId": "[concat('[', '''ParentId'']')]",
							"PlacementStartDate": "[concat('[', '''PlacementStartDate'']')]",
							"PlacementEndDate": "[concat('[', '''PlacementEndDate'']')]",
							"AdserverCampaignId": "[concat('[', '''AdserverCampaignId'']')]",
							"AdserverPackageId": "[concat('[', '''AdserverPackageId'']')]",
							"AdserverPlacementId": "[concat('[', '''AdserverPlacementId'']')]",
							"CustomColumnName": "[concat('[', '''CustomColumnName'']')]",
							"CustomColumnValue": "[concat('[', '''CustomColumnValue'']')]",
							"IsDeleted": "[concat('[', '''IsDeleted'']')]"
						}
					},
					"relativeUrl": {
						"value": "/api/DataFeed/466?Prisma Access Token=@{dataset().PrismaAccessToken}&CampaignID=@{dataset().CampaignID}&IncludeDeletions=@{dataset().IncludeDeletions}&Applicationtype=Azure_WM-US-TRP&Applicationtoken=830FF98D-AE5D-47F4-AA41-133FB86411F6&Useremail=wm-us-trp@groupm.com",
						"type": "Expression"
					},
					"requestMethod": "Get"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_SQLProc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLConnection",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "PlacementName",
						"type": "String"
					},
					{
						"name": "PlacementNumber",
						"type": "String"
					},
					{
						"name": "PlacementId",
						"type": "String"
					},
					{
						"name": "PackageType",
						"type": "String"
					},
					{
						"name": "PackageId",
						"type": "String"
					},
					{
						"name": "ParentId",
						"type": "String"
					},
					{
						"name": "PlacementStartDate",
						"type": "DateTime"
					},
					{
						"name": "PlacementEndDate",
						"type": "DateTime"
					},
					{
						"name": "AdserverCampaignId",
						"type": "String"
					},
					{
						"name": "AdserverPackageId",
						"type": "String"
					},
					{
						"name": "AdserverPlacementId",
						"type": "String"
					},
					{
						"name": "CustomColumnName",
						"type": "String"
					},
					{
						"name": "CustomColumnValue",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "Prisma"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS040806_Prisma_Advanced_Placement_Details_Report_TRowePrice_WMTR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PrismaAccessToken": {
						"type": "String",
						"defaultValue": "19424571-bcd1-47e7-be61-5f1d556cfb6c"
					},
					"CampaignID": {
						"type": "String",
						"defaultValue": "0"
					},
					"IncludeDeletions": {
						"type": "String",
						"defaultValue": "False"
					}
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "PlacementName",
						"type": "String"
					},
					{
						"name": "PlacementNumber",
						"type": "String"
					},
					{
						"name": "PlacementId",
						"type": "String"
					},
					{
						"name": "PackageType",
						"type": "String"
					},
					{
						"name": "PackageId",
						"type": "String"
					},
					{
						"name": "ParentId",
						"type": "String"
					},
					{
						"name": "PlacementStartDate",
						"type": "String"
					},
					{
						"name": "PlacementEndDate",
						"type": "String"
					},
					{
						"name": "AdserverCampaignId",
						"type": "String"
					},
					{
						"name": "AdserverPackageId",
						"type": "String"
					},
					{
						"name": "AdserverPlacementId",
						"type": "String"
					},
					{
						"name": "CustomColumnName",
						"type": "String"
					},
					{
						"name": "CustomColumnValue",
						"type": "String"
					},
					{
						"name": "IsDeleted",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects",
						"jsonNodeReference": "$.['Data']",
						"jsonPathDefinition": {
							"Data": "$.['Data']",
							"Status.Success": "$.['Status']['Success']",
							"Status.ErrorDescription": "$.['Status']['ErrorDescription']",
							"Status.Result": "$.['Status']['Result']",
							"Status.LastExecutionMark": "$.['Status']['LastExecutionMark']",
							"PlacementName": "[concat('[', '''PlacementName'']')]",
							"PlacementNumber": "[concat('[', '''PlacementNumber'']')]",
							"PlacementId": "[concat('[', '''PlacementId'']')]",
							"PackageType": "[concat('[', '''PackageType'']')]",
							"PackageId": "[concat('[', '''PackageId'']')]",
							"ParentId": "[concat('[', '''ParentId'']')]",
							"PlacementStartDate": "[concat('[', '''PlacementStartDate'']')]",
							"PlacementEndDate": "[concat('[', '''PlacementEndDate'']')]",
							"AdserverCampaignId": "[concat('[', '''AdserverCampaignId'']')]",
							"AdserverPackageId": "[concat('[', '''AdserverPackageId'']')]",
							"AdserverPlacementId": "[concat('[', '''AdserverPlacementId'']')]",
							"CustomColumnName": "[concat('[', '''CustomColumnName'']')]",
							"CustomColumnValue": "[concat('[', '''CustomColumnValue'']')]",
							"IsDeleted": "[concat('[', '''IsDeleted'']')]"
						}
					},
					"relativeUrl": {
						"value": "/api/DataFeed/466?Prisma Access Token=@{dataset().PrismaAccessToken}&CampaignID=@{dataset().CampaignID}&IncludeDeletions=@{dataset().IncludeDeletions}&Applicationtype=Azure_WM-US-TRP&Applicationtoken=830FF98D-AE5D-47F4-AA41-133FB86411F6&Useremail=wm-us-trp@groupm.com",
						"type": "Expression"
					},
					"requestMethod": "Get"
				}
			}
		}
	]
}